@font-face {
	font-display: swap;
	font-family: 'Lexend';
	font-style: normal;
	font-weight: 400;
	src:
		url('../fonts/lexend-regular.woff2') format('woff2'),
		url('../fonts/lexend-regular.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Lexend';
	font-style: normal;
	font-weight: 500;
	src:
		url('../fonts/lexend-medium.woff2') format('woff2'),
		url('../fonts/lexend-medium.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Lexend';
	font-style: normal;
	font-weight: 700;
	src:
		url('../fonts/lexend-bold.woff2') format('woff2'),
		url('../fonts/lexend-bold.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 400;
	src:
		url('../fonts/jetbrains-mono-regular.woff2') format('woff2'),
		url('../fonts/jetbrains-mono-regular.woff') format('woff');
}
