:root {
	--text-size-s: .875rem;
	--text-size-m: 1rem;
	--text-size-l: 1.125rem;
	--text-size-xl: 1.25rem;
	--text-size-promo: 1.75rem;

	--heading-size-h6: 1.75rem;
	--heading-size-h5: 2rem;
	--heading-size-h4: 2.25rem;
	--heading-size-h3: 2.5rem;
	--heading-size-h2: 3rem;
	--heading-size-h1: 6rem;
}
