:root {
	--text-size-s: 14px;
	--text-size-m: 16px;
	--text-size-l: 18px;
	--text-size-xl: 20px;
	--text-size-shout: 28px;

	--heading-size-xs: 28px;
	--heading-size-s: 32px;
	--heading-size-m: 36px;
	--heading-size-l: 40px;
	--heading-size-xl: 48px;
	--heading-size-shout: 96px;
}
