:root {
	--font-family: 'Lexend', sans-serif;
	--font-family-informal: 'Pacifico', cursive;

	--font-text-s: 400 14px / 1.6 var(--font-family);
	--font-text-m: 400 16px / 1.6 var(--font-family);
	--font-text-l: 400 18px / 1.6 var(--font-family);
	--font-text-xl: 400 20px / 1.6 var(--font-family);
	--font-text-promo: 400 28px / 1.6 var(--font-family);

	--font-label-s: 500 14px / 1 var(--font-family);
	--font-label-m: 500 16px / 1 var(--font-family);
	--font-label-l: 500 18px / 1 var(--font-family);
	--font-label-xl: 500 20px / 1 var(--font-family);

	--font-heading-h6: 700 28px / 1.3 var(--font-family);
	--font-heading-h5: 700 32px / 1.3 var(--font-family);
	--font-heading-h4: 700 36px / 1.3 var(--font-family);
	--font-heading-h3: 700 40px / 1.3 var(--font-family);
	--font-heading-h2: 700 48px / 1.3 var(--font-family);
	--font-heading-h1: 700 96px / 1.3 var(--font-family);

	--font-informal: 400 164px / 1.3 var(--font-family-informal);
}
