{% from 'portfolio-list.njk' import portfolioList with context %}

<main class="page__main main">
	{% include "header.njk" %}

	<section class="main__section promo" id="promo">
		<div class="promo__main">
			<header class="promo__header promo-header">
				<h1 class="promo-header__heading">{{ promo.heading }}</h1>

				<div class="promo-header__content">
					<p>{{ promo.lead | safe }}</p>
				</div>

				<div class="promo-header__buttons">
					<a href="{{ meta.cv }}" class="button button_secondary button_small_l button_medium_l button_large_xl button_ico_download">CV</a>
				</div>
			</header>

			<div class="promo__video promo-video">
				<a class="promo-video__main-link" href="{{ promo.video.url }}" target="_blank" data-id="{{ promo.video.id }}">
					<p class="promo-video__text">{{ promo.video.description }}</p>
				</a>
				<button type="button" class="promo-video__button" aria-label="Launch the video"></button>
				<picture class="promo-video__media">
					<img class="promo-video__img" src="/img/{{ promo.video.cover }}" alt="">
				</picture>
			</div>
		</div>
	</section>

	<section class="main__section section" id="now">
		<header class="section__header section-header section-header_now">
			<h2 class="section-header__heading">{{ now.heading }}</h2>
			{% for item in now.text %}
				<div class="section-header__content">
					{{ item | markdown | safe }}
				</div>
			{% endfor %}
		</header>

		<section class="section__main">
			<div class="section__subheader section-subheader" data-category="{{ now.heading }}">
				<h3 class="section-subheader__heading">{{ now.lastWorks.heading }}</h3>
				{% if now.lastWorks.comment %}
					<p class="section-subheader__comment">{{ now.lastWorks.comment }}</p>
				{% endif %}
			</div>

			<div class="section__container">
				<div class="section__content">
					{{ portfolioList(
						collection = collections.portfolio, slugList = now.lastWorks.works
					) }}
				</div>
			</div>
		</section>

		<section class="section__main">
			<div class="section__subheader section-subheader" data-category="{{ now.heading }}">
				<h3 class="section-subheader__heading">{{ now.designSystems.heading }}</h3>
				{% if now.designSystems.comment %}
					<p class="section-subheader__comment">{{ now.designSystems.comment }}</p>
				{% endif %}
			</div>

			<div class="section__container">
				{% for item in now.designSystems.text %}
					<div class="section__content">
						{{ item | markdown | safe }}
					</div>
				{% endfor %}

				<div class="section__content">
					{{ portfolioList(
						collection = collections.portfolio, slugList = now.designSystems.works
					) }}
				</div>
			</div>
		</section>
	</section>

	<section class="main__section section" id="education">
		<header class="section__header section-header">
			<h2 class="section-header__heading">{{ education.heading }}</h2>
			<div class="section-header__content">
				{{ education.text | markdown | safe }}
			</div>

			<div class="section-header__content education-list">
				{% for item in education.list %}
					<div class="education-list__item">
						<h3 class="education-list__heading">{{ item.heading }}</h3>
						<p class="education-list__text">{{ item.place }}</p>
						<p class="education-list__year">{{ item.year }}</p>
					</div>
				{% endfor %}
			</div>
		</header>

		<section class="section__main">
			<div class="section__subheader section-subheader" data-category="{{ education.heading }}">
				<h3 class="section-subheader__heading">{{ education.additionalCourses.heading }}</h3>
				{% if education.additionalCourses.comment %}
					<p class="section-subheader__comment">{{ education.additionalCourses.comment }}</p>
				{% endif %}
			</div>

			<div class="section__container">
				<ul class="section__content education-list">
					{% for item in education.additionalCourses.list %}
						<li class="education-list__item">
							<h4 class="education-list__heading">{{ item.heading }}</h4>
							<p class="education-list__text">{{ item.place }}</p>
							<p class="education-list__year">{{ item.year }}</p>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	</section>

	<section class="main__section section" id="frontend">
		<header class="section__header section-header">
			<h2 class="section-header__heading">{{ frontend.heading }}</h2>
			<div class="section-header__content">
				{{ frontend.text | markdown | safe }}
			</div>

			<div class="section-header__content education-list">
				{% if frontend.education.heading %}
					<p class="education-list__comment">{{ frontend.education.heading }}</p>
				{% endif %}

				<div class="education-list__item">
					<h3 class="education-list__heading">{{ frontend.education.course.heading }}</h3>
					<p class="education-list__text">{{ frontend.education.course.place }}</p>
					<p class="education-list__year">{{ frontend.education.course.year }}</p>
				</div>
			</div>
		</header>

		<section class="section__main">
			<div class="section__subheader section-subheader" data-category="{{ frontend.heading }}">
				<h3 class="section-subheader__heading">{{ frontend.htmlAcademy.heading }}</h3>
				{% if frontend.htmlAcademy.comment %}
					<p class="section-subheader__comment">{{ frontend.htmlAcademy.comment }}</p>
				{% endif %}
			</div>

			<div class="section__container">
				<div class="section__content">
					{{ frontend.htmlAcademy.text | markdown | safe }}
				</div>

				<ul class="section__content achievements-list">
					{% for item in frontend.htmlAcademy.list %}
						<li class="achievements-list__item">{{ item }}</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	</section>

	<section class="main__section section" id="design">
		<header class="section__header section-header">
			<h2 class="section-header__heading">{{ design.heading }}</h2>
			<div class="section-header__content">
				{{ design.text | markdown | safe }}
			</div>
		</header>

		<section class="section__main">
			<div class="section__subheader section-subheader" data-category="{{ design.heading }}">
				<h3 class="section-subheader__heading">{{ design.works.heading }}</h3>
				{% if design.works.comment %}
					<p class="section-subheader__comment">{{ design.works.comment }}</p>
				{% endif %}
			</div>

			<div class="section__container">
				<div class="section__content">
					{{ design.works.text | markdown | safe }}

					<a href="/portfolio" class="button button_secondary button_small_l button_medium_l">
						All portfolio
					</a>
				</div>

				<div class="section__content">
					{{ portfolioList(
						collection = collections.portfolio, slugList = design.works.list
					) }}
				</div>
			</div>
		</section>

		<section class="section__main">
			<div class="section__subheader section-subheader" data-category="{{ design.heading }}">
				<h3 class="section-subheader__heading">{{ design.skills.heading }}</h3>
			</div>

			<div class="section__container">
				<ul class="section__content skills">
					{% for item in design.skills.list %}
						<li class="skills__item">{{ item }}</li>
					{% endfor %}
				</ul>
			</div>
		</section>

		<section class="section__main">
			<div class="section__subheader section-subheader" data-category="{{ design.heading }}">
				<h3 class="section-subheader__heading">{{ design.instruments.heading }}</h3>
			</div>

			<div class="section__container">
				<ul class="section__content skills">
					{% for item in design.instruments.list %}
						<li class="skills__item">{{ item }}</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	</section>

	{% include "contacts.njk" %}
</main>
