<nav class="page__aside aside">
	<button type="button" class="aside__toggler ico-button ico-button_secondary ico-button_menu">
		<span class="visually-hidden">Menu</span>
	</button>

	<div class="aside__container">
		{% include 'menu.njk' %}

		{% include 'aside-contacts.njk' %}

		<p class="aside__copy">© Artur Trifonov</p>
	</div>
</nav>
