{% from 'link.njk' import link %}
{% set contactsData = global.contacts %}
{% set asideContacts = ['email', 'linkedin', 'whatsapp'] %}
{% set asideContactsClass = asideContactsClass or 'aside__contacts' %}

<ul class="{{ asideContactsClass }} aside-contacts">
	{% for itemKey in asideContacts %}
		{% set item = contactsData.items[itemKey] %}
		{% if item %}
			<li class="aside-contacts__item">
				{{ link(
					text = item.heading,
					href = item.url,
					size = 'text-xs',
					iconName = item.icon,
					external = item.external or false
				) }}
			</li>
		{% endif %}
	{% endfor %}
</ul>
