<nav class="page__aside aside">
	<button type="button" class="aside__toggler ico-button ico-button_menu">
		<span class="visually-hidden">Menu</span>
	</button>

	<div class="aside__container">
		<div class="aside__me me">
			<img src="/img/me.png" class="me__img" alt="" aria-hidden="true">
			<p class="me__name">Artur Trifonov</p>
			<a href="mailto:info@fron" class="me__email">hello@frontend-design.ru</a>
		</div>

		<ul class="aside__list site-list">
			<li class="site-list__item">
				<a href="/#about" class="site-list__link">About</a>
			</li>
			<li class="site-list__item">
				<a href="/#design" class="site-list__link">Design</a>
			</li>
			<li class="site-list__item">
				<a href="/#academy" class="site-list__link">Academy</a>
			</li>
			<li class="site-list__item">
				<a href="/#contacts" class="site-list__link">Contacts</a>
			</li>
		</ul>

		<p class="aside__copy">© Artur Trifonov</p>
	</div>
</nav>
