{% from 'table.njk' import table %}

{% macro contentTable(data = {}) %}
	<div class="section__container-item content-table">
		{% if data.heading %}
			<h3 class="content-table__heading">{{ data.heading }}</h3>
		{% endif %}
		{{ table({
			size: data.size or 'm',
			columns: data.columns or [],
			rows: data.rows or []
		}) }}
	</div>
{% endmacro %}
