{% from 'link.njk' import link %}

<section class="main__section contacts" id="contacts">
	<header class="contacts__header">
		{% if contacts.pretitle %}
			<p class="contacts__eyebrow">
				{{ contacts.pretitle }}
			</p>
		{% endif %}

		{% if contacts.heading %}
			<h2 class="contacts__heading">
				{{ contacts.heading }}
			</h2>
		{% endif %}
	</header>

	<div class="contacts__content">
		<div class="contacts__lead">
			{{ contacts.body | markdown | safe }}
		</div>

		<ul class="contacts__links contacts__links_type_social">
			{% for social in global.contacts.socials %}
				<li class="contacts__item">
					{{ link(
						text = social.title,
						href = social.url,
						size = 'xs',
						icon = social.icon,
						extraClass = 'contacts__link'
					) }}
				</li>
			{% endfor %}
		</ul>

		<ul class="contacts__links contacts__links_type_direct">
			{% for channel in global.contacts.messaging %}
				<li class="contacts__item">
					{{ link(
						text = channel.title,
						href = channel.url,
						size = 'xs',
						icon = channel.icon,
						extraClass = 'contacts__link'
					) }}
				</li>
			{% endfor %}
		</ul>
	</div>

	<img src="/img/route.svg" alt="" class="contacts__map" aria-hidden="true">
</section>
