{% from 'table.njk' import table %}

{% macro datatable(data = {}) %}
	<div class="section__container-item datatable">
		{% if data.heading %}
			<h3 class="datatable__heading">{{ data.heading }}</h3>
		{% endif %}
		<div class="datatable__scroll">
			{{ table({
				size: data.size or 'm',
				layout: data.layout or '',
				preview_rows: data.preview_rows or 0,
				columns: data.columns or [],
				rows: data.rows or []
			}) }}
		</div>
	</div>
{% endmacro %}
