{% from 'slider.njk' import slider %}
{% from 'picture.njk' import picture %}

{% macro designSolution(data = {}, baseUrl = '') %}
	{% set sourceImages = data.images or [] %}
	{% set images = [] %}
	{% set prototype = data.prototype or {} %}
	{% set prototypeSrc = prototype.src | default('') | trim %}
	{% set prototypeQuery = 'scaling=contain&content-scaling=responsive&hide-ui=1&embed-host=arturtrifonov.com' %}
	{% set prototypeEmbedSrc = '' %}
	{% set primaryDetails = data.primary or [] %}
	{% set secondaryDetails = data.secondary or [] %}
	{% set prototypeSlides = [] %}
	{% for image in sourceImages %}
		{% set imageSrc = image.src or '' %}
		{% if baseUrl and imageSrc and not ('://' in imageSrc) and not ((imageSrc | first) == '/') %}
			{% set imageSrc = baseUrl ~ 'img/' ~ imageSrc %}
		{% endif %}
		{% set images = (images.push({
			type: image.type,
			src: imageSrc,
			alt: image.alt,
			width: image.width,
			height: image.height,
			description: image.description,
			caption: image.caption
		}), images) %}
	{% endfor %}
	{% set hasSlider = images and (images | length) > 1 %}
	{% set singleImage = images[0] if images and (images | length) == 1 else {} %}
	{% set singleImageDescription = (singleImage.description | default(singleImage.caption | default(singleImage.alt | default(''))) | trim) if singleImage else '' %}
	{% if prototypeSrc %}
		{% set prototypeEmbedSrc = prototypeSrc
			| replace('https://www.figma.com/proto/', 'https://embed.figma.com/proto/')
			| replace('https://figma.com/proto/', 'https://embed.figma.com/proto/')
			| replace('http://www.figma.com/proto/', 'https://embed.figma.com/proto/')
			| replace('http://figma.com/proto/', 'https://embed.figma.com/proto/')
		%}
		{% set prototypeEmbedSrc = prototypeEmbedSrc
			.split('&t=')[0]
			.split('&scaling=')[0]
			.split('&content-scaling=')[0]
			.split('&hide-ui=')[0]
			.split('&embed-host=')[0]
		%}
		{% set prototypeEmbedSrc = prototypeEmbedSrc + ('&' if '?' in prototypeEmbedSrc else '?') + prototypeQuery %}
		{% set prototypeSlides = [{
			type: 'iframe',
			src: prototypeEmbedSrc,
			title: prototype.title,
			height: prototype.height,
			description: prototype.description
		}] %}
	{% endif %}

	<div class="section__container-item design-solution">
		{% if images and (images | length) %}
			{% if hasSlider %}
				{{ slider(
					images = images,
					ariaLabel = 'Design solution slides',
					previousLabel = 'Previous slide',
					nextLabel = 'Next slide',
					extraClass = 'design-solution__slider'
				) }}
			{% elif singleImage %}
				{{ picture(
					image = singleImage,
					description = singleImageDescription,
					extraClass = 'design-solution__image-item'
				) }}
			{% endif %}
		{% elif prototypeSlides and (prototypeSlides | length) %}
			{{ slider(
				images = prototypeSlides,
				ariaLabel = 'Design solution prototype',
				previousLabel = 'Previous slide',
				nextLabel = 'Next slide',
				extraClass = 'design-solution__slider'
			) }}
		{% endif %}

		{% if primaryDetails and (primaryDetails | length) %}
			<dl class="design-solution__details design-solution__details_role_primary description-list">
				{% for detail in primaryDetails %}
					<div class="description-list__item">
						{% if detail.heading %}
							<dt class="description-list__term">
								{{ detail.heading | trim }}
							</dt>
						{% endif %}
						{% if detail.content %}
							<dd class="description-list__description">
								{{ detail.content | markdown | safe }}
							</dd>
						{% endif %}
					</div>
				{% endfor %}
			</dl>
		{% endif %}

		{% if secondaryDetails and (secondaryDetails | length) %}
			<dl class="design-solution__details design-solution__details_role_secondary description-list">
				{% for detail in secondaryDetails %}
					<div class="description-list__item">
						{% if detail.heading %}
							<dt class="description-list__term">
								{{ detail.heading | trim }}
							</dt>
						{% endif %}
						{% if detail.items and (detail.items | length) %}
							<dd class="description-list__description">
								<ul class="design-solution__list list">
									{% for item in detail.items %}
										<li class="list__item">{{ item | markdown | safe }}</li>
									{% endfor %}
								</ul>
							</dd>
						{% elif detail.content %}
							<dd class="description-list__description">
								{{ detail.content | markdown | safe }}
							</dd>
						{% endif %}
					</div>
				{% endfor %}
			</dl>
		{% endif %}
	</div>
{% endmacro %}
