<header class="page__header header">
	<a href="/" class="header__logo logo">
		<span class="logo__word">
			<span class="logo__letter">A</span>rtur
		</span>
		<span class="logo__word">
			<span class="logo__letter">T</span>rifonov
		</span>
		<span class="visually-hidden">site</span>
	</a>
</header>
