{% from 'icon.njk' import icon as uiIcon %}

{% macro link(
	text = 'Link',
	href = '',
	mode = '',
	size = '',
	icon = 'info-signs/link',
	external = false,
	target = '',
	rel = '',
	extraClass = ''
) %}
	{% set classes = [
		'link',
		mode and 'link_mode_' + mode or '',
		size and 'link_size_' + size or '',
		extraClass
	] | join(' ') | trim %}

	<a
		href="{{ href }}"
		class="{{ classes }}"
		{% if target %}target="{{ target }}"{% endif %}
		{% if rel %}rel="{{ rel }}"{% endif %}
	>
		{% if icon %}
			{{ uiIcon(icon, 'link__icon') }}
		{% endif %}

		<span class="link__text">{{ text }}</span>

		{% if external %}
			{{ uiIcon('simple-arrows/arrow_right', 'link__external') }}
		{% endif %}
	</a>
{% endmacro %}
