<ul class="aside__list site-list">
{% for item in menu %}
		{% set itemLink = item.link | localePath(page.url) %}
		{% if itemLink == page.url %}
			<li class="site-list__item site-list__item_current">
				<a href="{{ itemLink }}" class="site-list__link" aria-current="page">
					{{- item.heading -}}
				</a>
			</li>
		{% else %}
			<li class="site-list__item">
				<a href="{{ itemLink }}" class="site-list__link">
					{{- item.heading -}}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>
