{% macro paperItems(
    list
) %}
	{% for item in list %}
		<li class="paper-list__item">
			<svg class="paper-list__icon">
				<use href="/img/icons.svg#{{ item.type if item.type else 'dash' }}" />
			</svg>
			{% if item.link %}
				<a href="{{ item.link }}" class="paper-list__link">
					<p class="paper-list__text">{{ item.heading }}</p>
					{% if item.site %}
						<span class="paper-list__site">{{ item.site }}</span>
					{% endif %}
					{% if item.organisation and item.date %}
						<p class="paper-list__details">
							<span>{{ item.organisation }}</span>
							<span>{{ item.date }}</span>
						</p>
					{% endif %}
				</a>
			{% else %}
				<p class="paper-list__text">{{ item.heading }}</p>
				{% if item.site %}
					<span class="paper-list__site">{{ item.site }}</span>
				{% endif %}
				{% if item.organisation and item.date %}
					<p class="paper-list__details">
						<span>{{ item.organisation }}</span>
						<span>{{ item.date }}</span>
					</p>
				{% endif %}
			{% endif %}
		</li>
	{% endfor %}
{% endmacro %}
