{% from 'portfolio-item.njk' import portfolioItem %}

{% macro portfolioList(
    collection
) %}
	<div class="section__portfolio portfolio">
		<ul class="portfolio__list">
			{% for case in collection %}
				{{ portfolioItem(
					case = case
				) }}
			{% endfor %}
		</ul>
	</div>
{% endmacro %}
