{% macro portfolioItem(
    case
) %}
    <li class="portfolio__item">
		{% if case.data.nda %}
			<a class="portfolio__link">
				<h4 class="portfolio__heading">
					{{ case.data.title }}
				</h4>
				<span class="portfolio__label label label_small_s label_large_l">NDA project</span>
			</a>
		{% elif case.data.external %}
			<a href="https://{{ case.data.external }}/" class="portfolio__link" target="_blank">
				<h4 class="portfolio__heading">
					{{ case.data.title }}
				</h4>
				<p class="portfolio__url">
					<svg width="36" height="10" class="portfolio__chain">
						<path class="portfolio__chain-right" d="M23 0h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1 0 1.71-1.39 3.1-3.1 3.1h-4V10h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"/>
						<path class="portfolio__chain-left" d="M9.9 5c0-1.71 1.39-3.1 3.1-3.1h4V0h-4c-2.76 0-5 2.24-5 5s2.24 5 5 5h4V8.1h-4c-1.71 0-3.1-1.39-3.1-3.1z"/>
						<path class="portfolio__chain-center" d="M14 6h8V4h-8z"/>
					</svg>
					<span class="portfolio__url-text">
						{{ case.data.external }}
					</span>
				</p>
			</a>
		{% else %}
			<a href="{{ case.url }}" class="portfolio__link">
				<h4 class="portfolio__heading">
					{{ case.data.title }}
				</h4>
			</a>
		{% endif %}

		<picture class="portfolio__picture" aria-hidden="true">
			<img src="{{ case.url }}imgs/cover.png" alt="">
		</picture>

		<h5 class="portfolio__subheading">Role</h5>
		<p class="portfolio__text">{{ case.data.role }}</p>

		<h5 class="portfolio__subheading">Tasks</h5>
		<ul class="portfolio__tasks">
			{% for item in case.data.tasks %}
				<li class="portfolio__task">{{ item }}</li>
			{% endfor %}
		</ul>
    </li>
{% endmacro %}
