{% macro portfolioItem(
    case
) %}
    <li class="portfolio__item">
		{% if case.data.nda %}
			<a class="portfolio__link">
				<h4 class="portfolio__heading">
					{{ case.data.title }}
				</h4>
				<span class="portfolio__label label label_small_s label_large_l">NDA project</span>
			</a>
		{% else %}
			<a href="{{ case.url }}" class="portfolio__link">
				<h4 class="portfolio__heading">
					{{ case.data.title }}
				</h4>
			</a>
		{% endif %}

		<picture class="portfolio__picture" aria-hidden="true">
			<img src="{{ case.url }}imgs/cover.png" alt="">
		</picture>

		<h5 class="portfolio__subheading">Role</h5>
		<p class="portfolio__text">{{ case.data.role }}</p>

		<h5 class="portfolio__subheading">Tasks</h5>
		<ul class="portfolio__tasks">
			{% for item in case.data.tasks %}
				<li class="portfolio__task">{{ item }}</li>
			{% endfor %}
		</ul>
    </li>
{% endmacro %}
