{% from 'label.njk' import label %}
{% from 'link.njk' import link %}

{% macro portfolioCases(
	collection = [],
	limit = 0,
	emptyMessage = 'Portfolio entries are not added yet.'
) %}
	{% if collection.length %}
		<ul class="section__portfolio portfolio">
			{% for item in collection %}
				{% if not limit or loop.index <= limit %}
					<li class="portfolio__item">
						<div class="portfolio__content">
							<h3 class="portfolio__heading">
								<a class="portfolio__link link link_size_heading-h2" href="{{item.url}}">
									{{ item.data.title }}
								</a>
							</h3>

							{% if item.data.tags and item.data.tags.length %}
								<ul class="portfolio__tags">
									{% for tag in item.data.tags %}
										<li class="portfolio__tag">
											{{ label(text = tag, size = 'm') }}
										</li>
									{% endfor %}
								</ul>
							{% endif %}

							{% if item.data.description %}
								<p class="portfolio__description">
									{{ item.data.description }}
								</p>
							{% endif %}

							{% if item.data.role or item.data.scope %}
								<dl class="portfolio__meta meta">
									{% if item.data.role %}
										<dt class="meta__term">Role:</dt>
										<dd class="meta__value">{{ item.data.role }}</dd>
									{% endif %}
									{% if item.data.scope %}
										<dt class="meta__term">Scope:</dt>
										<dd class="meta__value">{{ item.data.scope }}</dd>
									{% endif %}
								</dl>
							{% endif %}
						</div>

						<div class="portfolio__media">
							<picture class="portfolio__image">
								<img
									src="{{ item.url }}imgs/cover.png"
									alt=""
									class="portfolio__img"
									loading="lazy"
								>
							</picture>
						</div>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	{% else %}
		<p>{{ emptyMessage }}</p>
	{% endif %}
{% endmacro %}
