{% from 'link.njk' import link %}

{% macro videosItem(
    item
) %}
	<li class="videos__item">
		<a href="{{ item.url }}" class="videos__main-link">
			<h3 class="videos__heading">
				{{ item.data.title }}
			</h3>
			{# <p class="videos__text">{{ item.data.description }}</p> #}
		</a>

		<div class="videos__links">
			{{ link(
				text = 'Watch on YouTube',
				href = item.data.url,
				icon = 'video',
				target = '_blank',
				rel = 'noopener noreferrer',
				extraClass = 'videos__link-video'
			) }}
			{% if item.data.slides %}
				{{ link(
					text = 'Slides',
					href = item.data.slides,
					icon = 'slides',
					target = '_blank',
					rel = 'noopener noreferrer',
					extraClass = 'videos__link-slides'
				) }}
			{% endif %}
		</div>

		<picture class="videos__picture" aria-hidden="true">
			<img src="{{ item.url }}{{ item.data.cover }}" alt="">
		</picture>
	</li>
{% endmacro %}
