:root {
	--color-common-primary: var(--palette-lime-700);
	--color-common-primary-hover: var(--palette-lime-800);
	--color-common-primary-active: var(--palette-lime-900);
	--color-common-base: var(--palette-slate-50);
	--color-common-base-hover: var(--palette-slate-100);
	--color-common-base-active: var(--palette-slate-200);
	--color-common-secondary: var(--palette-slate-100);
	--color-common-secondary-hover: var(--palette-slate-200);
	--color-common-secondary-active: var(--palette-slate-300);
	--color-common-alt: var(--palette-indigo-700);
	--color-common-alt-hover: var(--palette-indigo-800);
	--color-common-alt-active: var(--palette-indigo-900);
	--color-common-special-success: var(--palette-green-500);
	--color-common-special-warning: var(--palette-yellow-500);
	--color-common-special-error: var(--palette-red-500);
	--color-common-special-blue: var(--palette-blue-500);
	--color-common-special-sky: var(--palette-sky-500);
	--color-common-special-cyan: var(--palette-cyan-500);
	--color-common-special-teal: var(--palette-teal-500);
	--color-common-special-emerald: var(--palette-emerald-500);
	--color-common-special-amber: var(--palette-amber-500);
	--color-common-special-purple: var(--palette-purple-500);
	--color-common-special-orange: var(--palette-orange-500);
	--color-common-special-violet: var(--palette-violet-500);
	--color-common-special-rose: var(--palette-rose-500);
	--color-common-special-fuchsia: var(--palette-fuchsia-500);
	--color-common-special-pink: var(--palette-pink-500);

	--color-text-primary: var(--palette-lime-800);
	--color-text-primary-hover: var(--palette-lime-900);
	--color-text-primary-active: var(--palette-lime-950);
	--color-text-base: var(--palette-slate-900);
	--color-text-base-hover: var(--palette-slate-950);
	--color-text-base-active: var(--palette-slate-975);
	--color-text-secondary: var(--palette-slate-600);
	--color-text-tertiary: var(--palette-slate-400);
	--color-text-bg: var(--palette-slate-100);
	--color-text-inverse: var(--palette-slate-100);
	--color-text-alt: var(--palette-indigo-800);
	--color-text-primary-inverse: var(--palette-lime-300);
	--color-text-alt-inverse: var(--palette-indigo-300);
	--color-text-special-success: var(--palette-green-600);
	--color-text-special-warning: var(--palette-yellow-600);
	--color-text-special-error: var(--palette-red-600);
	--color-text-special-blue: var(--palette-blue-600);
	--color-text-special-sky: var(--palette-sky-600);
	--color-text-special-cyan: var(--palette-cyan-600);
	--color-text-special-teal: var(--palette-teal-600);
	--color-text-special-emerald: var(--palette-emerald-600);
	--color-text-special-amber: var(--palette-amber-600);
	--color-text-special-purple: var(--palette-purple-600);
	--color-text-special-orange: var(--palette-orange-600);
	--color-text-special-violet: var(--palette-violet-600);
	--color-text-special-rose: var(--palette-rose-600);
	--color-text-special-fuchsia: var(--palette-fuchsia-600);
	--color-text-special-pink: var(--palette-pink-600);

	--color-surface-base: var(--palette-slate-25);
	--color-surface-secondary: var(--palette-slate-50);
	--color-surface-tertiary: var(--palette-slate-100);
	--color-surface-special-success: var(--palette-green-25);
	--color-surface-special-warning: var(--palette-yellow-25);
	--color-surface-special-error: var(--palette-red-25);
	--color-surface-special-orange: var(--palette-orange-25);
	--color-surface-special-amber: var(--palette-amber-25);
	--color-surface-special-emerald: var(--palette-emerald-25);
	--color-surface-special-teal: var(--palette-teal-25);
	--color-surface-special-cyan: var(--palette-cyan-25);
	--color-surface-special-sky: var(--palette-sky-25);
	--color-surface-special-blue: var(--palette-blue-25);
	--color-surface-special-violet: var(--palette-violet-25);
	--color-surface-special-purple: var(--palette-purple-25);
	--color-surface-special-fuchsia: var(--palette-fuchsia-25);
	--color-surface-special-pink: var(--palette-pink-25);
	--color-surface-special-rose: var(--palette-rose-25);

	--color-border-base: var(--palette-slate-300);
	--color-border-light: var(--palette-slate-800);
	--color-shadow-base: #02101E08;
}
