:root {
	--palette-lime-25: #F6FFF5;
	--palette-lime-50: #ECFFE9;
	--palette-lime-100: #D0FDC7;
	--palette-lime-200: #AEFCA1;
	--palette-lime-300: #84F975;
	--palette-lime-400: #59F64E;
	--palette-lime-500: #00F218;
	--palette-lime-600: #00E00B;
	--palette-lime-700: #00CA00;
	--palette-lime-800: #00B500;
	--palette-lime-900: #009200;
	--palette-lime-950: #007500;
	--palette-lime-975: #006100;
	--palette-red-25: #FEF2F2;
	--palette-red-50: #FFEBEB;
	--palette-red-100: #FEE2E2;
	--palette-red-200: #FECACA;
	--palette-red-300: #FFAFAE;
	--palette-red-400: #F98D8F;
	--palette-red-500: #F87171;
	--palette-red-600: #F54845;
	--palette-red-700: #CC342E;
	--palette-red-800: #A42724;
	--palette-red-900: #7F1D1D;
	--palette-red-950: #610008;
	--palette-red-975: #3A0003;
	--palette-gray-25: #F9FAFB;
	--palette-gray-50: #EFF0F2;
	--palette-gray-100: #E5E7EB;
	--palette-gray-200: #D1D5DB;
	--palette-gray-300: #BAC1CA;
	--palette-gray-400: #ABB1BB;
	--palette-gray-500: #9CA3AF;
	--palette-gray-600: #838999;
	--palette-gray-700: #6B7280;
	--palette-gray-800: #4B5563;
	--palette-gray-900: #374151;
	--palette-gray-950: #1F2937;
	--palette-gray-975: #111827;
	--palette-white: #FFFFFF;
	--palette-black: #000000;
	--palette-slate-25: #F8FAFC;
	--palette-slate-50: #EDF1F5;
	--palette-slate-100: #E2E8F0;
	--palette-slate-200: #CBD5E1;
	--palette-slate-300: #B6C2D1;
	--palette-slate-400: #A3B3C4;
	--palette-slate-500: #91A4B7;
	--palette-slate-600: #768CA1;
	--palette-slate-700: #60758A;
	--palette-slate-800: #445668;
	--palette-slate-900: #2F4254;
	--palette-slate-950: #1A2A3A;
	--palette-slate-975: #02101E;
	--palette-zinc-25: #FAFAFA;
	--palette-zinc-50: #F0F0F1;
	--palette-zinc-100: #E4E4E7;
	--palette-zinc-200: #D4D4D8;
	--palette-zinc-300: #C0C0C4;
	--palette-zinc-400: #B0B0B9;
	--palette-zinc-500: #A1A1AA;
	--palette-zinc-600: #878790;
	--palette-zinc-700: #71717A;
	--palette-zinc-800: #52525B;
	--palette-zinc-900: #3F3F46;
	--palette-zinc-950: #27272A;
	--palette-zinc-975: #18181B;
	--palette-neutral-25: #FAFAFA;
	--palette-neutral-50: #F0F0F0;
	--palette-neutral-100: #E5E5E5;
	--palette-neutral-200: #D4D4D4;
	--palette-neutral-300: #C1C1C1;
	--palette-neutral-400: #B2B2B2;
	--palette-neutral-500: #A3A3A3;
	--palette-neutral-600: #8A8A8A;
	--palette-neutral-700: #737373;
	--palette-neutral-800: #525252;
	--palette-neutral-900: #404040;
	--palette-neutral-950: #262626;
	--palette-neutral-975: #171717;
	--palette-stone-25: #FAFAF9;
	--palette-stone-50: #F0F0EF;
	--palette-stone-100: #E7E5E4;
	--palette-stone-200: #D6D3D1;
	--palette-stone-300: #C6C3C1;
	--palette-stone-400: #B7B1AD;
	--palette-stone-500: #A8A29E;
	--palette-stone-600: #908984;
	--palette-stone-700: #78716C;
	--palette-stone-800: #57534E;
	--palette-stone-900: #44403C;
	--palette-stone-950: #292524;
	--palette-stone-975: #1C1917;
	--palette-orange-25: #FFF7ED;
	--palette-orange-50: #FFEDD5;
	--palette-orange-100: #FFE5C7;
	--palette-orange-200: #FFD098;
	--palette-orange-300: #FDBA74;
	--palette-orange-400: #FB923C;
	--palette-orange-500: #FF7E2F;
	--palette-orange-600: #F3601A;
	--palette-orange-700: #C2410C;
	--palette-orange-800: #9A3412;
	--palette-orange-900: #7C2D12;
	--palette-orange-950: #5A1700;
	--palette-orange-975: #440F00;
	--palette-amber-25: #FFFBEB;
	--palette-amber-50: #FEF3C7;
	--palette-amber-100: #FEE891;
	--palette-amber-200: #FCD34D;
	--palette-amber-300: #FBBF24;
	--palette-amber-400: #F59E0B;
	--palette-amber-500: #EE8A0A;
	--palette-amber-600: #D67312;
	--palette-amber-700: #B45309;
	--palette-amber-800: #92400E;
	--palette-amber-900: #78350F;
	--palette-amber-950: #5A2200;
	--palette-amber-975: #3D1703;
	--palette-yellow-25: #FEFCE8;
	--palette-yellow-50: #FEF9C3;
	--palette-yellow-100: #FEF08A;
	--palette-yellow-200: #FFD752;
	--palette-yellow-300: #F6C919;
	--palette-yellow-400: #EAB308;
	--palette-yellow-500: #D79622;
	--palette-yellow-600: #BE8100;
	--palette-yellow-700: #A16207;
	--palette-yellow-800: #854D0E;
	--palette-yellow-900: #713F12;
	--palette-yellow-950: #582C00;
	--palette-yellow-975: #3D1D00;
	--palette-green-25: #F0FDF4;
	--palette-green-50: #DCFCE7;
	--palette-green-100: #BBF7D0;
	--palette-green-200: #86EFAC;
	--palette-green-300: #4ADE80;
	--palette-green-400: #2CCB63;
	--palette-green-500: #00BA54;
	--palette-green-600: #16A34A;
	--palette-green-700: #15803D;
	--palette-green-800: #166534;
	--palette-green-900: #14532D;
	--palette-green-950: #003D1C;
	--palette-green-975: #002D13;
	--palette-emerald-25: #ECFDF5;
	--palette-emerald-50: #D1FAE5;
	--palette-emerald-100: #AAF6D3;
	--palette-emerald-200: #77EFBF;
	--palette-emerald-300: #50E0AB;
	--palette-emerald-400: #27CB92;
	--palette-emerald-500: #13BA83;
	--palette-emerald-600: #139A6D;
	--palette-emerald-700: #147F5D;
	--palette-emerald-800: #11644B;
	--palette-emerald-900: #064E3B;
	--palette-emerald-950: #003D2D;
	--palette-emerald-975: #00281C;
	--palette-teal-25: #F0FDFA;
	--palette-teal-50: #CCFBF1;
	--palette-teal-100: #99F6E4;
	--palette-teal-200: #5EEAD4;
	--palette-teal-300: #3CE0C9;
	--palette-teal-400: #11C9B4;
	--palette-teal-500: #14B8A6;
	--palette-teal-600: #0D9488;
	--palette-teal-700: #1C7D75;
	--palette-teal-800: #115E59;
	--palette-teal-900: #134E4A;
	--palette-teal-950: #003C38;
	--palette-teal-975: #002422;
	--palette-cyan-25: #ECFEFF;
	--palette-cyan-50: #CFFAFE;
	--palette-cyan-100: #A5F3FC;
	--palette-cyan-200: #67E8F9;
	--palette-cyan-300: #2ED9F4;
	--palette-cyan-400: #00C5DF;
	--palette-cyan-500: #00B3D0;
	--palette-cyan-600: #0891B2;
	--palette-cyan-700: #0E7490;
	--palette-cyan-800: #155E75;
	--palette-cyan-900: #114A5F;
	--palette-cyan-950: #00374A;
	--palette-cyan-975: #002634;
	--palette-sky-25: #F0F9FF;
	--palette-sky-50: #E0F2FE;
	--palette-sky-100: #CDEEFF;
	--palette-sky-200: #A7DFFC;
	--palette-sky-300: #7DD3FC;
	--palette-sky-400: #38BDF8;
	--palette-sky-500: #0EA5E9;
	--palette-sky-600: #0284C7;
	--palette-sky-700: #0A6CA4;
	--palette-sky-800: #075985;
	--palette-sky-900: #0C4A6E;
	--palette-sky-950: #003755;
	--palette-sky-975: #002339;
	--palette-blue-25: #EFF6FF;
	--palette-blue-50: #E7F1FF;
	--palette-blue-100: #DBEAFE;
	--palette-blue-200: #BFDBFE;
	--palette-blue-300: #93C5FD;
	--palette-blue-400: #73B1FF;
	--palette-blue-500: #529DF9;
	--palette-blue-600: #3279EC;
	--palette-blue-700: #2560E0;
	--palette-blue-800: #2448B8;
	--palette-blue-900: #1E3A8A;
	--palette-blue-950: #081C6B;
	--palette-blue-975: #020659;
	--palette-indigo-25: #F4F6FF;
	--palette-indigo-50: #EBF0FF;
	--palette-indigo-100: #E0E7FF;
	--palette-indigo-200: #CBD5FF;
	--palette-indigo-300: #B1BFFD;
	--palette-indigo-400: #97A7FA;
	--palette-indigo-500: #818CF8;
	--palette-indigo-600: #686CF8;
	--palette-indigo-700: #5752F1;
	--palette-indigo-800: #4338CA;
	--palette-indigo-900: #3730A3;
	--palette-indigo-950: #231B6D;
	--palette-indigo-975: #160158;
	--palette-violet-25: #F4F2FE;
	--palette-violet-50: #F1EDFF;
	--palette-violet-100: #EAE6FB;
	--palette-violet-200: #DDD6FE;
	--palette-violet-300: #C4B5FD;
	--palette-violet-400: #B49EFE;
	--palette-violet-500: #A17EFF;
	--palette-violet-600: #8B5CF6;
	--palette-violet-700: #7C3AED;
	--palette-violet-800: #661BD0;
	--palette-violet-900: #5017A0;
	--palette-violet-950: #350071;
	--palette-violet-975: #240051;
	--palette-purple-25: #FAF5FF;
	--palette-purple-50: #F5ECFF;
	--palette-purple-100: #EFE4FB;
	--palette-purple-200: #E9D5FF;
	--palette-purple-300: #D8B4FE;
	--palette-purple-400: #C995FF;
	--palette-purple-500: #B778F4;
	--palette-purple-600: #A855F7;
	--palette-purple-700: #9333EA;
	--palette-purple-800: #7817C7;
	--palette-purple-900: #5B0A91;
	--palette-purple-950: #3E0065;
	--palette-purple-975: #19002D;
	--palette-fuchsia-25: #FDF4FF;
	--palette-fuchsia-50: #FBECFF;
	--palette-fuchsia-100: #F4E2F9;
	--palette-fuchsia-200: #F5D0FE;
	--palette-fuchsia-300: #F0ABFC;
	--palette-fuchsia-400: #EE8EFC;
	--palette-fuchsia-500: #E56BF7;
	--palette-fuchsia-600: #D23DE8;
	--palette-fuchsia-700: #AD25BE;
	--palette-fuchsia-800: #891D92;
	--palette-fuchsia-900: #68106D;
	--palette-fuchsia-950: #48004C;
	--palette-fuchsia-975: #2E0031;
	--palette-pink-25: #FDF2F8;
	--palette-pink-50: #FEE9F5;
	--palette-pink-100: #F8E3EF;
	--palette-pink-200: #FBCFE8;
	--palette-pink-300: #F9A8D4;
	--palette-pink-400: #FF8EC7;
	--palette-pink-500: #F472B6;
	--palette-pink-600: #E44093;
	--palette-pink-700: #C92766;
	--palette-pink-800: #9D174D;
	--palette-pink-900: #7D113E;
	--palette-pink-950: #530025;
	--palette-pink-975: #340015;
	--palette-rose-25: #FFF1F2;
	--palette-rose-50: #FFEAEC;
	--palette-rose-100: #FDE2E4;
	--palette-rose-200: #FECDD3;
	--palette-rose-300: #FFABB5;
	--palette-rose-400: #FF909D;
	--palette-rose-500: #FB7185;
	--palette-rose-600: #EE395A;
	--palette-rose-700: #CB2646;
	--palette-rose-800: #9F1239;
	--palette-rose-900: #7E022F;
	--palette-rose-950: #52001C;
	--palette-rose-975: #450016;
}
