:root {
	--palette-lime-50: #ECFFE9;
	--palette-lime-100: #D0FDC7;
	--palette-lime-200: #AEFCA1;
	--palette-lime-300: #84F975;
	--palette-lime-400: #59F64E;
	--palette-lime-500: #00F218;
	--palette-lime-600: #00E00B;
	--palette-lime-700: #00CA00;
	--palette-lime-800: #00B500;
	--palette-lime-900: #009200;

	--palette-gray-50: #F8FAFC;
	--palette-gray-100: #F1F5F9;
	--palette-gray-200: #E2E8F0;
	--palette-gray-300: #CBD5E1;
	--palette-gray-400: #94A3B8;
	--palette-gray-500: #64748B;
	--palette-gray-600: #475569;
	--palette-gray-700: #334155;
	--palette-gray-800: #1E293B;
	--palette-gray-900: #0F172A;
	--palette-gray-950: #080C17;
}
