.experience {

	list-style: none;
	padding: 0;
}

.experience__item {
	display: grid;
	gap: 1mm;
}

.experience__item + .experience__item {
	margin-top: 4mm;
}

.experience__header {
	align-items: baseline;
	display: flex;
	gap: 2mm;

	grid-column: 1 / -1;
	justify-content: space-between;
}

.experience__heading {
	margin: 0;
}

.experience__dates {

	color: var(--palette-gray-500);
	margin: 0;
}

.experience__company {

	color: var(--palette-gray-500);
	grid-column: 1 / -1;
	margin: 0;
}

.experience__company p {
	margin: 0;
}

.experience__projects {
	grid-column: 1 / -1;
}

.experience__projects-heading {

	color: var(--palette-gray-400);

	font-size: 1.2rem;
	font-weight: 500;
	letter-spacing: 2%;
	margin: 1mm 0 .5mm;
}
