.main-links {
	display: flex;
	justify-content: space-between;
	gap: 8px;
	margin: 0;
	padding: 0;

	font-size: 14px;

	list-style: none;
}

.main-links__link {
	--link-color: var(--palette-gray-800);

	display: flex;
	gap: 6px;

	color: var(--link-color);
}

.main-links__link::before {
	content: '';

	width: 20px;
	height: 20px;
	margin-top: 2px;

	background-color: var(--link-color);

	transition: background-color 200ms;
}

.main-links__item_linkedin .main-links__link::before {
	mask-image: url(../img/icons.svg#linkedin);
}

.main-links__item_behance .main-links__link::before {
	mask-image: url(../img/icons.svg#behance);
}

.main-links__item_dribbble .main-links__link::before {
	mask-image: url(../img/icons.svg#dribbble);
}
