.page {
	background-color: var(--palette-white);
	color: var(--palette-gray-800);

	font-family: 'Ubuntu', sans-serif;
	font-size: 7pt;
	line-height: 1.6;
}

.page__body {

	background-color: var(--palette-gray-300);

	display: grid;
	margin: 0;
	min-height: 100vh;
	padding: 0;
	place-content: center;
	position: relative;
	z-index: 0;
}
