.paper-section {
	padding: 3mm 0;
	position: relative;
}

.paper-section:not(:first-child)::before {

	background-color: var(--palette-gray-200);
	content: '';

	height: 1px;
	left: -10mm;
	position: absolute;
	right: -10mm;
	top: 0;
}

.paper-section_photo {
	height: 46mm;
	padding: 0 0 5mm;
}

.paper-section__heading {

	color: var(--palette-gray-400);
	font-size: 1.3rem;

	font-weight: 500;
	line-height: 1;
	margin: 1mm 0 3mm;
}

.paper-section__content {
	margin: 0;
}

.paper-section__content_experience {
	margin-top: 4mm;
}

.paper-section__photo {
	border: 1px solid var(--palette-gray-200);
	border-radius: 50%;
	display: flex;

	overflow: hidden;
}
