.paper {
	--paper-bg: var(--color-surface-base);
	--paper-aside-bg: var(--color-surface-secondary);
	--paper-shadow: 0 2mm 12mm var(--color-shadow-base);

	background-color: var(--paper-bg);
	border-radius: 8px;
	box-shadow: var(--paper-shadow);
	display: grid;
	grid-template-columns: 1fr 54mm;
	height: 297mm;
	overflow: hidden;
	width: 210mm;
}

@media print {
	.paper {
		border-radius: 0;
		box-shadow: none;
	}
}

.paper__main {
	padding: 8mm 10mm;
}

.paper__aside {
	overflow: hidden;
	background-color: var(--paper-aside-bg);
	padding: 5mm 7mm;
}

.paper__aside .paper__section:first-child {
	height: 27mm;
}

.paper__aside .paper__section:nth-child(2) {
	height: 22mm;
}

.paper__header {
	height: 46mm;
}
