.paper-heading {
	--paper-heading-color: var(--color-text-base);
	--paper-heading-line-bg: var(--color-border-base);
	--paper-heading-small-color: var(--color-text-secondary);

	align-items: baseline;
	display: flex;
	color: var(--paper-heading-color);
	font-weight: 700;
	gap: .3em;
	letter-spacing: 2%;
	line-height: 1;
}

.paper-heading::after {
	content: '';
	background-color: var(--paper-heading-line-bg);
	height: .15em;
	position: relative;
	top: .15em;
	width: .65em;
}

.paper-heading__small {
	order: 1;
}

/* Types */

.paper-heading_type_main {
	font-size: 2.6rem;
}

.paper-heading_type_main .paper-heading__small {
	color: var(--paper-heading-small-color);
	font-size: 1.7rem;
}

.paper-heading_type_experience {
	font-size: 1.3rem;
	font-weight: 500;
}

.paper-heading_type_experience .paper-heading__small {
	font-size: 1.3rem;
}
