.paper-section {
	--paper-section-heading-color: var(--color-text-tertiary);
	--paper-section-photo-border: 1px solid var(--color-common-secondary-hover);
	--paper-section-rule-bg: var(--color-common-secondary-hover);

	padding: 3mm 0;
	position: relative;
}

.paper-section:not(:first-child)::before {
	content: '';
	background-color: var(--paper-section-rule-bg);
	height: 1px;
	left: -10mm;
	position: absolute;
	right: -10mm;
	top: 0;
}

.paper-section_photo {
	height: 46mm;
	padding: 0 0 5mm;
}

.paper-section__heading {
	font-size: 1.3rem;
	font-weight: 500;
	line-height: 1;
	margin: 1mm 0 3mm;
	color: var(--paper-section-heading-color);
}

.paper-section__content {
	margin: 0;
}

.paper-section__content_experience {
	margin-top: 4mm;
}

.paper-section__photo {
	border-radius: 50%;
	border: var(--paper-section-photo-border);
	display: flex;
	overflow: hidden;
}
