.experience {
	--experience-company-color: var(--color-text-secondary);
	--experience-dates-color: var(--color-text-tertiary);
	--experience-projects-heading-color: var(--color-text-tertiary);

	list-style: none;
	padding: 0;
}

.experience__item {
	display: grid;
	gap: 1mm;
}

.experience__item + .experience__item {
	margin-top: 4mm;
}

.experience__header {
	align-items: baseline;
	display: flex;
	gap: 2mm;

	grid-column: 1 / -1;
	justify-content: space-between;
}

.experience__heading {
	margin: 0;
}

.experience__dates {
	margin: 0;
	color: var(--experience-dates-color);
}

.experience__company {
	grid-column: 1 / -1;
	margin: 0;
	color: var(--experience-company-color);
}

.experience__company p {
	margin: 0;
}

.experience__projects {
	grid-column: 1 / -1;
}

.experience__projects-heading {
	margin: 1mm 0 .5mm;
	color: var(--experience-projects-heading-color);
	font: var(--cv-font-heading-projects);
	letter-spacing: var(--cv-font-heading-letterspacing);
}
