:root {
	--space-size-5xs: 8px;
	--space-size-4xs: 12px;
	--space-size-3xs: 16px;
	--space-size-xxs: 20px;
	--space-size-xs: 24px;
	--space-size-s: 32px;
	--space-size-m: 40px;
	--space-size-l: 48px;
	--space-size-xl: 56px;

	--space-gap-zero: 0;
	--space-gap-5xs: 5px;
	--space-gap-4xs: 7px;
	--space-gap-3xs: 10px;
	--space-gap-xxs: 12px;
	--space-gap-xs: 15px;
	--space-gap-s: 20px;
	--space-gap-m: 25px;
	--space-gap-l: 30px;
	--space-gap-xl: 35px;

	--space-page-padding-x: 80px;

	/* Temporary fallback until browser rendering of hairline borders is evaluated. */
	--space-border-hair: var(--space-border-light);
	--space-border-light: 1px;
	--space-border-medium: 2px;
	--space-border-bold: 3px;
}

@media (width < 1400px) {
	:root {
		--space-size-5xs: 6px;
		--space-size-4xs: 10px;
		--space-size-3xs: 14px;
		--space-size-xxs: 18px;
		--space-size-xs: 20px;
		--space-size-s: 28px;
		--space-size-m: 36px;
		--space-size-l: 44px;
		--space-size-xl: 52px;

		--space-gap-zero: 0;
		--space-gap-5xs: 4px;
		--space-gap-4xs: 6px;
		--space-gap-3xs: 9px;
		--space-gap-xxs: 11px;
		--space-gap-xs: 12px;
		--space-gap-s: 17px;
		--space-gap-m: 22px;
		--space-gap-l: 27px;
		--space-gap-xl: 32px;
	}
}

@media (width < 1100px) {
	:root {
		--space-size-5xs: 6px;
		--space-size-4xs: 10px;
		--space-size-3xs: 14px;
		--space-size-xxs: 18px;
		--space-size-xs: 22px;
		--space-size-s: 28px;
		--space-size-m: 34px;
		--space-size-l: 42px;
		--space-size-xl: 50px;

		--space-gap-zero: 0;
		--space-gap-5xs: 4px;
		--space-gap-4xs: 6px;
		--space-gap-3xs: 9px;
		--space-gap-xxs: 11px;
		--space-gap-xs: 14px;
		--space-gap-s: 17px;
		--space-gap-m: 21px;
		--space-gap-l: 26px;
		--space-gap-xl: 31px;

		--space-page-padding-x: 64px;
	}
}

@media (width < 800px) {
	:root {
		--space-size-5xs: 6px;
		--space-size-4xs: 8px;
		--space-size-3xs: 12px;
		--space-size-xxs: 14px;
		--space-size-xs: 16px;
		--space-size-s: 22px;
		--space-size-m: 30px;
		--space-size-l: 38px;
		--space-size-xl: 46px;

		--space-gap-zero: 0;
		--space-gap-5xs: 2px;
		--space-gap-4xs: 5px;
		--space-gap-3xs: 7px;
		--space-gap-xxs: 9px;
		--space-gap-xs: 10px;
		--space-gap-s: 14px;
		--space-gap-m: 19px;
		--space-gap-l: 23px;
		--space-gap-xl: 28px;

		--space-page-padding-x: 48px;
	}
}

@media (width < 540px) {
	:root {
		--space-size-5xs: 4px;
		--space-size-4xs: 6px;
		--space-size-3xs: 8px;
		--space-size-xxs: 12px;
		--space-size-xs: 16px;
		--space-size-s: 20px;
		--space-size-m: 26px;
		--space-size-l: 32px;
		--space-size-xl: 40px;

		--space-gap-zero: 0;
		--space-gap-5xs: 2px;
		--space-gap-4xs: 4px;
		--space-gap-3xs: 5px;
		--space-gap-xxs: 6px;
		--space-gap-xs: 7px;
		--space-gap-s: 10px;
		--space-gap-m: 15px;
		--space-gap-l: 20px;
		--space-gap-xl: 25px;

		--space-page-padding-x: 30px;
	}
}
