:root {
	--space-size-5xs: 8px;
	--space-size-4xs: 12px;
	--space-size-3xs: 16px;
	--space-size-xxs: 20px;
	--space-size-xs: 24px;
	--space-size-s: 32px;
	--space-size-m: 40px;
	--space-size-l: 48px;
	--space-size-xl: 56px;

	--space-gap-zero: 0;
	--space-gap-5xs: 5px;
	--space-gap-4xs: 7px;
	--space-gap-3xs: 10px;
	--space-gap-xxs: 12px;
	--space-gap-xs: 15px;
	--space-gap-s: 20px;
	--space-gap-m: 25px;
	--space-gap-l: 30px;
	--space-gap-xl: 35px;

	--space-border-hair: 0.5px;
	--space-border-light: 1px;
	--space-border-medium: 2px;
	--space-border-bold: 3px;
}
