---
layout: page.njk
---

{% from 'header.njk' import header with context %}

{%- set collection = collections.portfolio -%}
{%- set cleanCollection = [] -%}
{%- set previousUrl = "" -%}
{%- set nextUrl = "" -%}
{%- for item in collection -%}
	{%- if item.data.nda !== true -%}
		{%- if item.data.external === false -%}
			{%- set cleanCollection = (cleanCollection.push(item), cleanCollection) -%}
		{%- endif -%}
	{%- endif -%}
{%- endfor -%}
{%- for item in cleanCollection -%}
	{%- if page.fileSlug == item.fileSlug -%}
		{%- if loop.first -%}
			{%- set previousUrl = cleanCollection[loop.length - 1].data.page.url -%}
		{%- else -%}
			{%- set previousUrl = cleanCollection[loop.index0 - 1].data.page.url -%}
		{%- endif -%}

		{%- if loop.last -%}
			{%- set nextUrl = cleanCollection[0].data.page.url -%}
		{%- else -%}
			{%- set nextUrl = cleanCollection[loop.index0 + 1].data.page.url -%}
		{%- endif -%}
	{%- endif -%}
{%- endfor -%}

<body class="page__body page__body_case">
	<main class="case">
		{{ header( mainBlock = 'case' ) }}

		<h1 class="visually-hidden">{{ title }}</h1>

		<article class="case__article article">
			<h2 class="visually-hidden">Case description</h2>

			<ul class="article__list">
				{% for img in imgs %}
					<li class="article__item">
						<picture class="article__picture">
							<img src="{{ page.url }}imgs/{{ img }}.png" alt="">
						</picture>
					</li>
				{% endfor %}
			</ul>
		</article>

		<section class="case__details details">
			<h2 class="visually-hidden">Additional details</h2>
			{% if tags %}
				<ul class="details__list">
					{% for tag in tags %}
						<li class="details__item">
							<span class="label">{{ tag }}</span>
						</li>
					{% endfor %}
				</ul>
			{% endif %}

			{% if behance %}
				<a href="{{ behance }}#comment" class="details__button button button_secondary button_small_m button_l button_ico_message" target="_blank">Comment on Behance</a>
			{% endif %}
		</section>

		<nav class="case__nav">
			<div class="case__side case__side_left">
				<a href="/" class="case__home ico-button ico-button_l ico-button_small_xl ico-button_rounded ico-button_secondary ico-button_home">
					<span class="visually-hidden">Home</span>
				</a>

				<a href="{{ previousUrl }}" class="case__control case__control_previous ico-button ico-button_xl ico-button_rounded ico-button_secondary ico-button_previous">
					<span class="visually-hidden">Previous case</span>
				</a>
			</div>

			<div class="case__side case__side_right">
				<a href="{{ nextUrl }}" class="case__control case__control_next ico-button ico-button_xl ico-button_rounded ico-button_secondary ico-button_next">
					<span class="visually-hidden">Next case</span>
				</a>

				<div class="case__side-contacts side-contacts">
					<div class="side-contacts__me me me_small">
						<img src="/img/me.png" class="me__img" alt="" aria-hidden="true">
					</div>

					<ul class="side-contacts__list">
						<li class="side-contacts__item">
							<a href="mailto:hello@frontend-design.ru" class="ico-button ico-button_l ico-button_rounded ico-button_secondary ico-button_email">
								<span class="visually-hidden">hello@frontend-design.ru</span>
							</a>
						</li>
						{% if behance %}
							<li class="side-contacts__item">
								<a href="{{ behance }}" class="ico-button ico-button_l ico-button_rounded ico-button_secondary ico-button_behance">
									<span class="visually-hidden">Me on Behance</span>
								</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
	</main>
</body>
