---
layout: page.njk
---

{% from 'case-hero.njk' import caseHero %}
{% from 'case-contacts.njk' import caseContacts %}
{% from 'section.njk' import section %}

{% if sections and sections.length %}
	{{ caseHero(
		hero = hero or {},
		heading = heading or '',
		description = description,
		role = role or '',
		area = area or focus or '',
		tags = tags or [],
		baseUrl = page.url
	) }}

	{% for item in sections %}
		{% set sectionDecor = [] %}
		{% for decorItem in item.decor or [] %}
			{% set decorImage = decorItem.image or '' %}
			{% if decorImage and not ('://' in decorImage) and not ((decorImage | first) == '/') %}
				{% set decorImage = page.url ~ 'img/' ~ decorImage %}
			{% endif %}
			{% if decorImage and decorItem.width and decorItem.height %}
				{% set sectionDecor = sectionDecor.concat([{
					type: decorItem.type,
					image: decorImage,
					width: decorItem.width,
					height: decorItem.height
				}]) %}
			{% endif %}
		{% endfor %}
		{{ section({
			pretitle: item.eyebrow or item.pretitle,
			heading: item.heading,
			lead: item.lead,
			content: item.content,
			decor: sectionDecor
		}) }}
	{% endfor %}
{% elif imgs and imgs.length %}
	<section class="main__section legacy-case">
		<ul class="legacy-case__list">
			{% for img in imgs %}
				<li class="legacy-case__item">
						{% if img.type == 'mp4' %}
							<video class="legacy-case__video" width="1400" height="900" controls muted loop>
							<source src="{{ page.url }}img/{{ img.name }}.mp4" type="video/mp4">
							Your browser does not support the video tag
						</video>
					{% else %}
						<picture class="legacy-case__picture">
							<img class="legacy-case__img" src="{{ page.url }}img/{{ img }}.png" alt="" width="1400" height="900">
						</picture>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</section>
{% endif %}

{% if contact_section %}
	{{ caseContacts(
		data = contact_section,
		contactsData = global.contacts,
		baseUrl = page.url,
		theme = theme or ''
	) }}
{% endif %}
