{% set currentLocale = page.url | localeFromUrl %}
{% set currentLocaleMeta = i18n.localeMeta[currentLocale] %}

<!DOCTYPE html>
<html lang="{{ currentLocaleMeta.htmlLang or currentLocale }}" class="page no-js">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{%- if page.url != '/' -%}
				{{ title }} |
			{% endif %}
			{{ meta.siteName }}
		</title>
		<link rel="stylesheet" href="{{ '/css/index.css' | url }}">

		<link rel="icon" href="/img/favicons/favicon.ico" sizes="any">
		<link rel="icon" href="/img/favicons/any.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/img/favicons/180.png">
		<link rel="manifest" href="/manifest.json">

		<meta property="og:title" content="{{ title if (page.url != '/') }}{{ ' | ' if (page.url != '/') }}{{ meta.siteName }}" />
		<meta property="og:image" content="/img/favicons/og.png" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="{{ meta.siteName }}" />
		{% if page.url != '/' %}
			<meta property="og:url" content="{{ meta.url }}" />
		{% else %}
			<meta property="og:url" content="{{ meta.url }}{{ activePage }}/" />
		{% endif %}
		<meta property="og:locale" content="{{ currentLocaleMeta.ogLocale or 'en_GB' }}" />
	</head>

		<body class="page__body">
			<main class="page__main main">
				<div class="main__container">
					{% include "header.njk" %}
					{{ content | safe }}

					<div class="main__grid" aria-hidden="true">
						{% for _ in [1, 2, 3, 4, 5] %}
							<div class="main__column"></div>
						{% endfor %}
					</div>
				</div>
			</main>

			{% include "aside.njk" %}
			{% include "video-modal.njk" %}
			<script defer src="/js/index.js"></script>
		</body>
	</html>
