---
layout: page.njk
---

{% from 'hero.njk' import heroSection %}
{% from 'section.njk' import section %}

{% set publicationHeading = heading or title %}
{% set publicationLead = description %}

{% if hero %}
	{{ heroSection(hero) }}
{% endif %}

{% call section({
	pretitle: 'Publication',
	heading: publicationHeading,
	lead: publicationLead
}) %}
	{{ content | safe }}
{% endcall %}
