{% from 'hero.njk' import heroSection %}
{% from 'section.njk' import section %}
{% from 'label.njk' import label %}

{{ heroSection(hero) }}

{{ section({
	pretitle: my_design_journey.pretitle,
	heading: my_design_journey.heading,
	lead: my_design_journey.body,
	cta: my_design_journey.cta
}) }}

{% call section({
	pretitle: portfolio.pretitle,
	heading: portfolio.heading
}) %}
	<ul>
		{% for item in portfolio.items %}
			<li>
				<p>{{ item.role }}</p>
				<h3>{{ item.title }}</h3>
				<p>{{ item.description }}</p>
				<ul>
					{% for tag in item.tags %}
						<li>{{ label(tag) }}</li>
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
	</ul>
{% endcall %}

{% call section({
	pretitle: approach_to_work.pretitle,
	heading: approach_to_work.heading,
	lead: approach_to_work.intro
}) %}
	<ol class="section__list list list_type_ordered list_columns_2">
		{% for step in approach_to_work.steps %}
			<li class="list__item"{% if step.label %} data-list-label="{{ step.label }}"{% endif %}>
				<p>{{ step.text }}</p>
			</li>
		{% endfor %}
	</ol>
{% endcall %}

{% call section({
	id: 'contacts',
	pretitle: contacts.pretitle,
	heading: contacts.heading,
	lead: contacts.body
}) %}

	<h3>Locations</h3>
	<ul class="section__list list">
		{% for location in contacts.locations %}
			<li class="list__item">
				{{ location }}
			</li>
		{% endfor %}
	</ul>

	<h3>Direct contacts</h3>
	<ul class="section__list list">
		{% for contact in contacts.direct_contacts %}
			<li class="list__item">
				{{ contact }}
			</li>
		{% endfor %}
	</ul>

	<h3>Social links</h3>
	<ul class="section__list list">
		{% for link in contacts.social_links %}
			<li class="list__item">
				{{ link }}
			</li>
		{% endfor %}
	</ul>
{% endcall %}
