{% from 'header.njk' import header with context %}
{% from 'portfolio-list.njk' import portfolioList with context %}

<main class="page__main main">
	{{ header( mainBlock = 'page' ) }}

	<section class="main__section promo" id="about">
		<h1 class="promo__heading">{{ promo.heading }}</h1>
		<p class="promo__text">{{ promo.lead | safe }}</p>
		<div class="promo__buttons">
			<a href="{{ meta.cv }}" class="button button_secondary button_small_l button_medium_l button_large_xl button_ico_download">CV</a>
			<a href="/#portfolio" class="button button_small_l button_medium_l button_large_xl">Portfolio</a>
		</div>
	</section>

	<section class="main__category category" id="design">
		<header class="category__header category-header">
			<h2 class="category-header__heading">{{ design.heading }}</h2>
			<p class="category-header__lead">{{ design.lead | safe }}</p>
			{% if design.comment %}
				<p class="category-header__comment">{{ design.comment }}</p>
			{% endif %}
			<div class="category-header__description">
				{{ design.text | markdown | safe }}
			</div>
		</header>

		<section class="category__section section" id="portfolio">
			<div class="section__header">
				<h3 class="section__heading" data-category="{{ design.heading }}">{{ design.portfolio.heading }}</h3>
				{% if design.portfolio.comment %}
					<p class="section__comment">{{ design.portfolio.comment }}</p>
				{% endif %}
			</div>

			{{ portfolioList(
				collection = collections.portfolioTop
			) }}
		</section>

		<section class="category__section section">
			<div class="section__header">
				<h3 class="section__heading" data-category="{{ design.heading }}">{{ design.skills.heading }}</h3>
				{% if design.skills.comment %}
					<p class="section__comment">{{ design.skills.comment }}</p>
				{% endif %}
			</div>

			<ul class="section__skills skills">
				{% for item in design.skills.list %}
					<li class="skills__item">{{ item }}</li>
				{% endfor %}
			</ul>
		</section>

		<section class="category__section section">
			<div class="section__header">
				<h3 class="section__heading" data-category="{{ design.heading }}">{{ design.instruments.heading }}</h3>
				{% if design.instruments.comment %}
					<p class="section__comment">{{ design.instruments.comment }}</p>
				{% endif %}
			</div>

			<ul class="section__skills skills">
				{% for item in design.instruments.list %}
					<li class="skills__item">{{ item }}</li>
				{% endfor %}
			</ul>
		</section>
	</section>

	<section class="main__category category" id="performance">
		<header class="category__header category-header">
			<h2 class="category-header__heading">{{ performance.heading }}</h2>
			<p class="category-header__lead">{{ performance.lead | safe }}</p>
			{% if performance.comment %}
				<p class="category-header__comment">{{ performance.comment }}</p>
			{% endif %}
			<div class="category-header__description">
				{{ performance.text | markdown | safe }}
			</div>
		</header>

		<section class="category__section section">
			<div class="section__header">
				<h3 class="section__heading" data-category="{{ performance.heading }}">{{ performance.videos.heading }}</h3>
				{% if performance.videos.comment %}
					<p class="section__comment">{{ performance.videos.comment }}</p>
				{% endif %}
			</div>

			<ul class="section__links links">
				{% for item in performance.videos.list %}
					<li class="links__item">
						<h3 class="links__heading">{{ item.heading }}</h3>
						<p class="links__text">{{ item.description }}</p>
						<a href="{{ item.url }}" class="links__link" target="_blank">{{ item.heading }}</a>
						{% if item.slides %}
							<a href="{{ item.slides }}" class="links__link links__link_slides" target="_blank">Slides</a>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</section>

		<section class="category__section section">
			<div class="section__header">
				<h3 class="section__heading" data-category="{{ performance.heading }}">{{ performance.articles.heading }}</h3>
				{% if performance.articles.comment %}
					<p class="section__comment">{{ performance.articles.comment }}</p>
				{% endif %}
			</div>

			<ul class="section__links links">
				{% for item in performance.articles.list %}
					<li class="links__item">
						<h3 class="links__heading">{{ item.heading }}</h3>
						<p class="links__text">{{ item.description }}</p>
						<a href="{{ item.url }}" class="links__link" target="_blank">{{ item.heading }}</a>
						{% if item.slides %}
							<a href="{{ item.slides }}" class="links__link links__link_slides" target="_blank">Slides</a>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</section>
	</section>

	<section class="main__category category" id="contacts">
		<header class="category__header category-header">
			<h2 class="category-header__heading">{{ contacts.heading }}</h2>
			<p class="category-header__lead">{{ contacts.lead | safe }}</p>
			{% if contacts.comment %}
				<p class="category-header__comment">{{ contacts.comment }}</p>
			{% endif %}

			<ul class="category-header__links contact-links">
				{% for item in contacts.list %}
					<li class="contact-links__item">
						<a href="{{ item.url }}" class="contact-links__link">{{ item.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</header>
	</section>
</main>
