:root {
	--transition-element-duration: 150ms;
	--transition-element-function: linear;
	--transition-panel-duration: 300ms;
	--transition-panel-function: cubic-bezier(0.22, 1, 0.36, 1);
	--transition-page-duration: 2200ms;
	--transition-page-function: cubic-bezier(0.25, 1, 0.5, 1);
}
