*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	--link-color: var(--color-text-base);

	color: var(--link-color);
	text-underline-offset: .3em;
	transition: color 200ms;
}

a:hover {
	--link-color: var(--color-text-base-hover);
}

a:active {
	--link-color: var(--color-text-base-active);
}
