*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	--link-color: var(--color-text-base);

	color: var(--link-color);
	text-underline-offset: .3em;
	transition: color 200ms;
}

a[href]:hover {
	--link-color: var(--color-text-base-hover);
}

a[href]:active {
	--link-color: var(--color-text-base-active);
}

img {
	max-width: 100%;
	height: auto;
}
