/* Variables */

.all-contacts {
	--all-contacts-columns: 4;
	--all-contacts-column-gap: var(--space-gap-l);
}

/* All Contacts */

.all-contacts {
	display: grid;
	column-gap: var(--all-contacts-column-gap);
	grid-template-columns: repeat(var(--all-contacts-columns), minmax(0, 1fr));
}

.all-contacts__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.all-contacts__list:first-child {
	grid-column: span 2;
}

.all-contacts__item {
	margin: 0;
}

@media (width < 1100px) {
	.all-contacts {
		--all-contacts-columns: 1;
	}
}
