/* Variables */

.article-section {
	--article-section-padding-y: 80px;
	--article-section-padding-x: 80px;
}

/* Article section */

.article-section {
	padding: var(--article-section-padding-y) var(--article-section-padding-x);
}
