/* Variables */

.article-section {
	--article-section-padding-block: 80px;
	--article-section-padding-inline: 80px;
	--article-section-padding: var(--article-section-padding-block) var(--article-section-padding-inline);
}

/* Article section */

.article-section {
	padding: var(--article-section-padding);
}
