
/* List */

.article__list {
	border: 1px solid var(--color-border-base);

	border-radius: 4px;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

/* Picture */

.article__picture,
.article__picture img {
	display: block;
}

.article__picture video {
	max-width: 100%;
}
