/* Variables */

.aside-contacts {
	--padding: 56px 40px;
	--gap: 16px;

	--link-color: var(--color-text-base);
}

/* Aside Contacts */

.aside-contacts {
	padding: var(--padding);

	list-style: none;

}

/* Item */

.aside-contacts__item + .aside-contacts__item {
	margin-top: var(--gap);
}

/* Link */

.aside-contacts__link {
	display: inline-flex;
	align-items: start;
	column-gap: .35em;

	color: var(--link-color);

	font: var(--font-text-l);
	text-decoration: none;
	text-transform: lowercase;
}

.aside-contacts__link:hover {
	--link-color: var(--color-text-primary-hover);
}

.aside-contacts__link:active {
	--link-color: var(--color-text-primary-active);
}

.aside-contacts__link::before {
	content: '';

	width: 1.2em;
	height: 1.2em;
	margin-top: 4px;

	background-color: var(--link-color);
	mask-image: url('../img/icons.svg#link');

	transition: background-color 200ms;
}

.aside-contacts__item_email .aside-contacts__link::before {
	mask-image: url('../img/icons.svg#email');
}

.aside-contacts__item_linkedin .aside-contacts__link::before {
	mask-image: url('../img/icons.svg#linkedin');
}

.aside-contacts__item_behance .aside-contacts__link::before {
	mask-image: url('../img/icons.svg#behance');
}

.aside-contacts__item_dribbble .aside-contacts__link::before {
	mask-image: url('../img/icons.svg#dribbble');
}
