.aside-contacts {
	--aside-contacts-ico-size: 20px;
	--aside-contacts-color: var(--color-common-primary);
	--aside-contacts-bg: var(--color-common-secondary);

	display: grid;
	justify-items: center;
	gap: 12px;

	padding: 0;

	list-style: none;
}

.aside-contacts__link {
	display: grid;
	place-content: center;

	width: 48px;
	height: 48px;

	background-color: var(--aside-contacts-bg);
	border-radius: 50%;

	transition:
		color 200ms,
		background-color 200ms;
}

.aside-contacts__link:hover {
	--aside-contacts-color: var(--color-common-primary-hover);
	--aside-contacts-bg: var(--color-common-secondary-hover);
}

.aside-contacts__link:active {
	--aside-contacts-color: var(--color-common-primary-active);
	--aside-contacts-bg: var(--color-common-secondary-active);
}

.aside-contacts__link::before {
	content: '';
	background-color: var(--aside-contacts-color);
	width: var(--aside-contacts-ico-size);
	height: var(--aside-contacts-ico-size);
}

.aside-contacts__link_email::before {
	mask-image: url('../img/icons.svg#email');
}

.aside-contacts__link_behance::before {
	mask-image: url('../img/icons.svg#behance');
}

.aside-contacts__link_dribbble::before {
	mask-image: url('../img/icons.svg#dribbble');
}
