.aside {
	background-color: var(--color-surface-secondary);
}

/* Aside container */

.aside__container {
	position: sticky;
	top: 0;

	display: grid;
	grid-template-rows: min-content 1fr min-content;
	padding: 40px;
	overflow: hidden;
}

@media (width < 880px) {
	.aside__container {
		gap: 48px;
	}

	html.no-js .aside__container {
		grid-template-rows: auto;
	}
}

@media (width < 880px) {
	html:not(.no-js) .aside__container {
		min-height: 100vh;

		opacity: 0;
		visibility: hidden;

		transition:
			opacity 150ms 200ms,
			visibility 350ms 1ms;
	}

	html:not(.no-js) .aside_opened .aside__container {
		opacity: 1;
		visibility: visible;

		transition: opacity 350ms;
	}
}

@media (width >= 880px) {
	.aside__container {
		min-height: 100vh;
	}
}

@media (880px <= width < 1500px) {
	.aside__container {
		gap: 64px;
	}
}

@media (width >= 880px) {
	.aside__container {
		gap: 112px;
	}
}

.aside__container::after {
	position: absolute;
	right: -24px;
	bottom: 0;

	width: 175px;
	height: 159px;
	background-image: url('../img/lizard.svg');
	background-repeat: no-repeat;
	content: '';

	opacity: .8;
}

/* Aside toggler */

@media (width < 880px) {
	.aside__toggler {
		position: absolute;
		bottom: 32px;
		left: -28px;
		z-index: 1;

		width: 56px;
		height: 56px;
	}
}

@media (width >= 880px) {
	.aside__toggler {
		display: none;
	}
}

.no-js .aside__toggler {
	display: none;
}

.aside__list {
	margin: 0 -40px;
}

@media (width < 880px) {
	.no-js .aside__list {
		display: none;
	}
}

.aside__copy {
	margin: 0;

	color: var(--color-text-secondary);

	font-size: var(--text-size-m);
}

@media (width < 880px) {
	.no-js .aside__copy {
		display: none;
	}
}
