/* Variables */

.aside {
	--aside-offset-y: 0;
	--aside-padding: var(--space-gap-xl) var(--space-gap-xs);
	--aside-height: 100vh;
	--border-style: none none none solid;
	--aside-radius: 0;
	--aside-superellipse-radius: 0;
	--aside-superellipse-level: 0;
}

@media (width >= 1740px) {
	.aside {
		--aside-offset-y: var(--space-gap-s);
		--aside-height: calc(100vh - var(--aside-offset-y) * 2);
		--border-style: solid;
		--aside-radius: var(--radius-xl);
		--aside-superellipse-radius: var(--superellipse-radius-xl);
		--aside-superellipse-level: var(--superellipse-level-xl);
	}
}

/* Aside */

.aside {
	padding: var(--aside-offset-y) 0;
}

/* Aside container */

.aside__container {

	background-color: var(--color-surface-secondary);
	border: var(--space-border-light) solid var(--color-border-base);
	border-radius: var(--aside-radius);
	border-style: var(--border-style);
	height: var(--aside-height);
	padding: var(--aside-padding);
	position: sticky;
	top: var(--aside-offset-y);
}

@supports (corner-shape: superellipse(1)) {
	.aside__container {
		border-radius: var(--aside-superellipse-radius);
		corner-shape: var(--aside-superellipse-level);
	}
}
