/* Variables */

.aside-contacts {
	--aside-contacts-padding: 0 var(--space-gap-xs);
	--aside-contacts-gap: var(--space-gap-xs);
}

/* Aside Contacts */

.aside-contacts {
	align-content: end;

	display: grid;
	gap: var(--aside-contacts-gap);
	list-style: none;

	padding: var(--aside-contacts-padding);
}

.aside-contacts__item {
	display: flex;
	margin: 0;
	padding: 0;
}
