.button {
	--button-text-color: var(--color-text-primary);
	--button-bg: var(--color-common-base);
	--button-shadow: var(--shadow-level-2);
	--button-height: var(--space-size-m);
	--button-padding: 0 var(--space-gap-s);
	--button-gap: var(--space-gap-4xs);
	--button-text-gap: var(--space-gap-4xs);
	--button-font: var(--font-caption-xs);
	--button-subtext-font: var(--font-text-xs);
	--button-subtext-color: var(--color-text-secondary);
	--button-icon-size: var(--space-size-xxs);
	--button-radius: var(--radius-m);
	--button-superellipse-radius: var(--superellipse-radius-m);
	--button-superellipse-level: var(--superellipse-level-m);
}

.button:hover {
	--button-bg: var(--color-common-base-hover);
	--button-shadow: var(--shadow-level-3);
}

.button:active {
	--button-bg: var(--color-common-base-active);
	--button-shadow: var(--shadow-level-2);
}

/* Button */

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: var(--button-height);
	padding: var(--button-padding);

	color: var(--button-text-color);
	background-color: var(--button-bg);
	border: var(--space-border-light) solid var(--color-border-base);
	border-radius: var(--button-radius);
	box-shadow: var(--button-shadow-static);
	text-decoration: none;
	transition:
		background-color var(--transition-element-duration) var(--transition-element-function),
		box-shadow var(--transition-element-duration) var(--transition-element-function);

	font: var(--button-font);
	letter-spacing: var(--font-caption-letterspacing);
	text-transform: var(--font-caption-transform);
}

@supports (corner-shape: superellipse(1)) {
	.button {
		border-radius: var(--button-superellipse-radius);
		corner-shape: var(--button-superellipse-level);
	}
}

/* Modes */

.button_secondary {
	--button-text-color: var(--color-text-primary);
	--button-bg: var(--color-common-secondary);
}

.button_secondary:hover {
	--button-bg: var(--color-common-secondary-hover);
}

.button_secondary:active {
	--button-bg: var(--color-common-secondary-active);
}

.button_primary {
	--button-text-color: var(--color-text-inverse);
	--button-bg: var(--color-common-primary);
}

.button_primary:hover {
	--button-bg: var(--color-common-primary-hover);
}

.button_primary:active {
	--button-bg: var(--color-common-primary-active);
}

/* Sizes */

.button_l {
	--button-height: var(--space-size-l);
	--button-padding: 0 var(--space-gap-m);
	--button-gap: var(--space-gap-3xs);
	--button-font: var(--font-caption-s);
	--button-subtext-font: var(--font-text-xs);
	--button-icon-size: var(--space-size-xs);
	--button-radius: var(--radius-l);
	--button-superellipse-radius: var(--superellipse-radius-l);
	--button-superellipse-level: var(--superellipse-level-l);
}

.button_xl {
	--button-height: var(--space-size-xl);
	--button-padding: 0 var(--space-gap-l);
	--button-gap: var(--space-gap-xxs);
	--button-font: var(--font-caption-m);
	--button-subtext-font: var(--font-text-s);
	--button-icon-size: var(--space-size-s);
	--button-radius: var(--radius-xl);
	--button-superellipse-radius: var(--superellipse-radius-xl);
	--button-superellipse-level: var(--superellipse-level-xl);
}

/* Elements */

.button__subtext {
	margin-left: var(--button-text-gap);

	color: var(--button-subtext-color);

	font: var(--button-subtext-font);
	letter-spacing: var(--font-text-letterspacing);
	text-transform: var(--font-text-transform);
}

.button__icon {
	width: var(--button-icon-size);
	height: var(--button-icon-size);
}

.button__icon:first-child {
	margin-right: var(--button-gap);
}

.button__icon:last-child {
	margin-left: var(--button-gap);
}
