/* Case */

.case {
	display: grid;
}

@media (880px <= width < 1500px) {
	.case {
		grid-template-columns: 64px 1fr 64px;
		grid-template-rows: min-content 1fr;
		gap: 8px;
	}
}

@media (width >= 1500px) {
	.case {
		grid-template-columns: minmax(96px, 1fr) minmax(auto, 1400px) minmax(96px, 1fr);
		grid-template-rows: min-content 1fr;
		gap: 32px;
	}
}

/* Header */

@media (width < 880px) {
	.case__header {
		order: -1;

		margin-top: 32px;
		margin-right: 32px;
		margin-left: 32px;
		margin-bottom: 24px;
	}
}

@media (width >= 880px) {
	.case__header {
		grid-column: 2 / -2;
		margin-top: 64px;
	}
}

/* Loading */

.case__loading,
.case__loading::after {
	border-radius: 50%;
	width: 128px;
	height: 128px;
}

.case__loading::after {
	content: '';
}

.case__loading {
	margin: auto;
	border-top: 8px solid rgba(255, 255, 255, 0.2);
	border-right: 8px solid rgba(255, 255, 255, 0.2);
	border-bottom: 8px solid rgba(255, 255, 255, 0.2);
	border-left: 8px solid var(--color-common-primary);
	transform: translateZ(0);
	animation: spin 1.1s infinite linear;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media (width < 880px) {
	.case__loading {
		order: -1;
	}
}

@media (width >= 880px) {
	.case__loading {
		grid-column: 2 / -2;
		grid-row: 2 / 3;
	}
}

/* Article */

@media (width < 880px) {
	.case__article {
		order: -1;
	}
}

@media (width >= 880px) {
	.case__article {
		grid-column: 2 / -2;
		grid-row: 2 / 3;
	}
}

/* Nav */

@media (width < 880px) {
	.case__nav {
		position: sticky;
		bottom: 0;

		order: -1;
		display: flex;
		gap: 8px;
		padding: 24px 16px;

		background-color: var(--color-surface-base);
	}
}

@media (width >= 880px) {
	.case__nav {
		display: grid;
		grid-column: 1 / -1;
		grid-row: 2 / 3;
	}
}

@media (880px <= width < 1500px) {
	.case__nav {
		grid-template-columns: 64px 1fr 64px;
		column-gap: 24px;
	}
}

@media (width >= 1500px) {
	.case__nav {
		grid-template-columns: minmax(96px, 1fr) minmax(auto, 1400px) minmax(96px, 1fr);
		column-gap: 32px;
	}
}

/* Sides */

@media (width < 880px) {
	.case__side {
		display: flex;
		align-items: center;
	}
}

@media (width >= 880px) {
	.case__side {
		display: grid;
		align-content: space-between;
		justify-items: center;

		padding: 8px 0;
	}
}

@media (880px <= width < 1500px) {
	.case__side {
		width: 56px;
	}
}

@media (width >= 1500px) {
	.case__side {
		width: 64px;
		padding-bottom: 32px;
	}
}

@media (width >= 880px) {
	.case__side_left {
		justify-self: end;
		grid-column: 1 / 2;
	}
}

@media (width >= 880px) {
	.case__side_right {
		justify-self: start;
		grid-column: -2 / -1;
	}
}

/* Side contacts */

@media (width >= 880px) {
	.case__side-contacts {
		position: sticky;
		top: 32px;
	}
}

/* Home */

@media (width >= 880px) {
	.case__home {
		position: sticky;
		top: 36px;
	}
}

/* Close */

@media (width >= 880px) {
	.case__close {
		position: sticky;
		top: 36px;
	}
}

/* Controls */

@media (width < 880px) {
	.case__control {
		position: absolute;
	}
}

@media (width >= 880px) {
	.case__control {
		position: sticky;
		bottom: 32px;
	}
}

@media (width < 880px) {
	.case__control_next {
		right: 16px;
	}
}

@media (width >= 880px) {
	.case__control_next {
		order: 1;
	}
}

@media (width < 880px) {
	.case__control_previous {
		right: 78px;
	}
}

/* Details */

@media (width < 880px) {
	.case__details {
		margin-top: 24px;
		margin-bottom: 32px;
	}
}

@media (width >= 880px) {
	.case__details {
		grid-column: 2 / -2;
		grid-row: 3 / 4;
	}
}

@media (880px <= width < 1500px) {
	.case__details {
		margin-bottom: 40px;
	}
}

@media (width >= 1500px) {
	.case__details {
		margin-bottom: 64px;
	}
}
