/* Case */

.case {
	display: grid;
}

@media (width < 880px) {
	.case {
		grid-template-columns: 40px 1fr 40px;
	}
}

@media (880px <= width < 1500px) {
	.case {
		grid-template-columns: 88px 1fr 88px;
		column-gap: 24px;
	}
}

@media (width >= 1500px) {
	.case {
		grid-template-columns: minmax(96px, 1fr) minmax(auto, 1400px) minmax(96px, 1fr);
		column-gap: 32px;
	}
}

/* Main */

.case__main {
	grid-column: 2 / -2;
}

/* Header */

@media (width < 880px) {
	.case__header {
		margin-top: 32px;
	}
}

@media (width >= 880px) {
	.case__header {
		margin-top: 64px;
	}
}

/* Section */

.case__section {
	margin-top: 32px;
}

.case__section:last-child {
	margin-bottom: 64px;
}

/* List */

.case__list {
	margin: 0;
	padding: 0;

	border-radius: 4px;
	overflow: hidden;
	list-style: none;
}

@media (width < 880px) {
	.case__list {
		margin-right: -16px;
		margin-left: -16px;
	}
}

/* Picture */

.case__picture,
.case__picture img {
	display: block;
}

/* Aside */

.case__aside {
	padding-top: 8px;
}

.case__aside-container {
	position: sticky;
}

@media (width < 880px) {
	.case__aside {
		margin-top: 128px;
	}

	.case__aside-container {
		top: 24px;
		width: 48px;
		margin-left: -16px;
	}
}

@media (width >= 880px) {
	.case__aside {
		margin-top: 160px;
	}

	.case__aside-container {
		top: 32px;
	}
}

/* Nav */

.case__nav {
	display: contents;
}

.case__home {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

/* Me */

@media (width < 880px) {
	.case__me {
		display: none;
	}
}

/* Contacts */

.case__contacts {
	margin: 0;
}

@media (width < 880px) {
	.case__contacts {
		width: 48px;
	}
}

@media (width >= 880px) {
	.case__contacts {
		width: 64px;
		margin-top: 16px;
	}
}
