/* Variables */

.code-snippet {
	--code-snippet-border: var(--space-border-light) solid var(--color-border-base);
	--code-snippet-radius: var(--radius-m);
	--code-snippet-bg: var(--color-surface-secondary);
	--code-snippet-padding-y: var(--space-gap-s);
	--code-snippet-padding-x: var(--space-gap-m);
	--code-snippet-font: 500 var(--font-size-xs) / 1.55 var(--font-family-monospace);
	--code-snippet-color: var(--color-text-base);
	--code-snippet-color-comment: var(--color-text-tertiary);
	--code-snippet-color-keyword: var(--color-text-alt);
	--code-snippet-color-title: var(--color-text-primary);
	--code-snippet-color-string: var(--color-text-special-success);
	--code-snippet-color-number: var(--color-text-special-warning);
	--code-snippet-color-meta: var(--color-text-special-sky);
}

/* Block */

.code-snippet {
	background-color: var(--code-snippet-bg);
	border: var(--code-snippet-border);
	border-radius: var(--code-snippet-radius);
	display: block;
	padding: var(--code-snippet-padding-y) var(--code-snippet-padding-x);
}

/* Element */

.code-snippet__code {
	color: var(--code-snippet-color);
	display: block;
	font: var(--code-snippet-font);
	white-space: pre;
}

.code-snippet__code .hljs-comment,
.code-snippet__code .hljs-quote {
	color: var(--code-snippet-color-comment);
}

.code-snippet__code .hljs-keyword,
.code-snippet__code .hljs-selector-tag,
.code-snippet__code .hljs-literal,
.code-snippet__code .hljs-doctag {
	color: var(--code-snippet-color-keyword);
}

.code-snippet__code .hljs-title,
.code-snippet__code .hljs-section,
.code-snippet__code .hljs-built_in,
.code-snippet__code .hljs-type {
	color: var(--code-snippet-color-title);
}

.code-snippet__code .hljs-string,
.code-snippet__code .hljs-attr,
.code-snippet__code .hljs-template-tag,
.code-snippet__code .hljs-template-variable {
	color: var(--code-snippet-color-string);
}

.code-snippet__code .hljs-number,
.code-snippet__code .hljs-symbol,
.code-snippet__code .hljs-bullet,
.code-snippet__code .hljs-variable {
	color: var(--code-snippet-color-number);
}

.code-snippet__code .hljs-meta,
.code-snippet__code .hljs-meta .hljs-keyword {
	color: var(--code-snippet-color-meta);
}
