@media (width < 880px) {
	.contact-links {
		--contact-links-font: var(--font-text-m);
	}
}

@media (880px <= width < 1500px) {
	.contact-links {
		--contact-links-font: var(--font-text-l);

	}
}

@media (width >= 1500px) {
	.contact-links {
		--contact-links-font: var(--font-text-xl);
	}
}

.contact-links {
	align-content: start;
	display: grid;

	font: var(--contact-links-font);
	gap: 8px;

	list-style: none;
	padding: 0;
}
