/* Variables */

.content-table {
	--content-table-gap: var(--space-gap-s);
}

/* Content table */

.content-table {
	display: grid;
	gap: var(--content-table-gap);
	margin-right: -80px;
}

.content-table__scroll {
	max-width: 100%;
	overflow-x: scroll;
}
