@media (width < 880px) {
	.contact-links {
		--contact-links-font: var(--font-text-m);
	}
}

@media (880px <= width < 1500px) {
	.contact-links {
		--contact-links-font: var(--font-text-l);

	}
}

@media (width >= 1500px) {
	.contact-links {
		--contact-links-font: var(--font-text-xl);
	}
}

.contact-links {
	display: grid;
	gap: 8px;
	padding: 0;

	list-style: none;

	font: var(--contact-links-font);
}
