.courses {
	display: grid;
	gap:  24px;
	padding: 0;

	list-style: none;
}

.courses__label {
	margin-bottom: 4px;
}

.courses__title {
	display: block;
	margin: 0 0 4px;

	color: var(--color-text-base);

	font-size: var(--text-size-xl);
	text-underline-offset: 6px;
}

.courses__comment {
	color: var(--color-text-secondary);

	font-size: var(--text-size-m);
}
