/* Variables */

.design-solution {
	--design-solution-gap: var(--space-gap-l);
}

/* Design solution */

.design-solution {
	display: grid;
	gap: var(--design-solution-gap);
}

/* Design solution image item */

.design-solution__image-item {
	--picture-bg: var(--color-surface-secondary);
	--picture-aspect-ratio: 986 / 560;
	--picture-description-bg: var(--color-surface-tertiary);
	--picture-description-color: var(--color-text-secondary);
	--picture-description-font: var(--font-text-xs);
	--picture-description-padding-y: var(--space-gap-4xs);
	--picture-description-padding-x: var(--space-gap-3xs);
	display: grid;
	margin: 0;
}
