.details {
	align-items: center;
	display: grid;

	padding: 32px 0;
}

@media (width < 880px) {
	.details {
		justify-items: center;
		padding-left: 16px;

		padding-right: 16px;
		row-gap: 24px;
	}
}

@media (width >= 880px) {
	.details {
		column-gap: 32px;
		grid-template-columns: 1fr auto;
		padding-left: 24px;
		padding-right: 24px;
	}
}

.details__list {
	column-gap: 8px;
	display: flex;
	flex-wrap: wrap;

	list-style: none;
	margin: 0;
	padding: 0;
	row-gap: 8px;
}
