.details {
	display: grid;
	align-items: center;

	padding: 32px 0;
}

@media (width < 880px) {
	.details {
		justify-items: center;
		row-gap: 24px;
	}
}

@media (width >= 880px) {
	.details {
		grid-template-columns: 1fr auto;
		column-gap: 32px;
		padding-right: 24px;
		padding-left: 24px;
	}
}

.details__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 8px;
	row-gap: 8px;
	margin: 0;
	padding: 0;

	list-style: none;
}
