/* Variables */

.header {
	--header-padding-x: var(--space-page-padding-x);
	--header-padding-y: var(--space-gap-m);
	--header-gap: var(--space-gap-4xs);
	--header-logo-width: 243px;
	--header-logo-height: 64px;
	--header-logo-offset: -24px;
	--header-background-color: transparent;
	--header-border: var(--header-menu-panel-border-width) solid transparent;
	--header-shadow: none;

	--header-menu-panel-border-width: var(--space-border-light);
	--header-menu-gap: var(--space-gap-s);
}

@media (width < 1540px) {
	.header {
		--header-padding-y: var(--space-gap-s);
	}
}

@media (width < 1100px) {
	.header {
		--header-logo-width: 213px;
		--header-logo-height: 56px;
		--header-gap: var(--space-gap-l);
		--header-logo-offset: -16px;
	}
}

@media (width < 800px) {
	.header {
		--header-logo-width: 182px;
		--header-logo-height: 48px;
		--header-logo-offset: -12px;
	}
}

/* Header */

.header {
	padding: var(--header-padding-y) var(--header-padding-x);
}

:where(.header) {
	z-index: 0;
}

.header__container {
	display: grid;
	align-items: flex-end;
	gap: var(--header-gap);
	grid-template-columns: auto minmax(0, 1fr) auto;
}

@media (width < 1600px) {
	.header__container::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: calc(50% - 50vw);
		width: 100vw;
		z-index: -1;
		background-color: var(--header-background-color);
		border-bottom: var(--header-border);
		box-shadow: var(--header-shadow);
		transition:
			background-color var(--transition-panel-duration) var(--transition-panel-function),
			border-color var(--transition-panel-duration) var(--transition-panel-function),
			box-shadow var(--transition-panel-duration) var(--transition-panel-function);
	}

	.header[data-stuck="true"] {
		--header-background-color: var(--color-surface-base);
		--header-border: var(--header-menu-panel-border-width) solid var(--color-border-base);
		--header-shadow: var(--shadow-level-4);
	}
}

/* Header logo */

.header__logo {
	display: inline-block;
	height: var(--header-logo-height);
	width: var(--header-logo-width);
	margin-left: var(--header-logo-offset);
}

/* Compact mode */

.header__trail,
.header__menu {
	display: none;
}

.header__menu {
	justify-self: end;
	grid-column: 3;
}

@media (width < 540px) {
	.header__menu {
		justify-self: auto;
		height: 64px;
		padding-right: var(--space-page-padding-x);
		padding-left: var(--space-page-padding-x);
		background-color: var(--color-surface-tertiary);
	}
}

@media (width < 1600px) {
	.header__trail {
		display: flex;
		min-width: 0;
	}

	.header__menu {
		display: flex;
	}
}

@media (width < 1100px) {
	.header__container {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.header__trail {
		grid-column: 1 / -1;
		grid-row: 1;
	}

	.header__logo {
		grid-column: 1;
	}

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		.header {
			--header-menu-panel-border-width: var(--space-border-hair);
		}
	}
}
