/* Header */

@media (width >= 880px) {
	.header {
		display: grid;
		column-gap: 32px;
	}
}

@media (880px <= width < 1500px) {
	.header {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (width >= 1500px) {
	.header {
		grid-template-columns: repeat(5, 1fr);
	}
}

/* Logo */

.header__logo {
	margin-left: -4px;
}

@media (width >= 880px) {
	.header__logo {
		grid-column: 1 / 3;
	}
}
