.header {
	--margin-top: 64px;
	--logo-width: 263px;
	--logo-height: 64px;
	--logo-offset: -16px;
}

/* Header */

.header {
	margin-top: var(--margin-top);
}

/* Logo */

.header__logo {
	width: var(--logo-width);
	height: var(--logo-height);
	margin-left: var(--logo-offset);
}
