/* Variables */

.hero {
	--hero-img-size: 680px;
	--hero-padding-y: 120px;
	--hero-padding-x: 80px;
	--hero-gap: var(--space-gap-l);
	--hero-columns: 5;
	--hero-z-index: 0;
	--hero-heading-column: 1 / 5;
	--hero-text-column: 1 / 4;
	--hero-cta-column: 1 / 6;
	--hero-cta-gap: var(--space-gap-xxs);
	--hero-cta-margin-top: var(--space-gap-s);
	--hero-image-column: 5 / 6;
	--hero-image-row: 1 / 3;
	--hero-image-z-index: -1;
	--hero-picture-offset-x: 86px;
	--hero-picture-blur: 7px;
	--hero-picture-overlay-opacity: 0.5;
	--hero-picture-image-radius: 0 0 var(--hero-img-size) var(--hero-img-size);
}

/* Hero */

.hero {
	display: grid;
	gap: var(--hero-gap);
	grid-template-columns: repeat(var(--hero-columns), 1fr);
	padding: var(--hero-padding-y) var(--hero-padding-x);
	position: relative;
}

:where(.hero) {
	z-index: var(--hero-z-index);
}

/* Hero Image */

.hero__img {
	grid-column: var(--hero-image-column);
	grid-row: var(--hero-image-row);
	position: relative;
	z-index: var(--hero-image-z-index);
}

.hero__picture {
	align-items: end;
	display: flex;
	height: var(--hero-img-size);
	left: calc(50% - (var(--hero-img-size) / 2 + var(--hero-picture-offset-x)));
	position: absolute;
	top: calc(50% - var(--hero-img-size) / 2);
	width: var(--hero-img-size);
}

.hero__picture::before {
	backdrop-filter: blur(var(--hero-picture-blur));
	background-image: var(--color-gradient);
	border-radius: 50%;
	bottom: 0;
	content: '';
	left: 0;
	opacity: var(--hero-picture-overlay-opacity);
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

.hero__picture img {
	border-radius: var(--hero-picture-image-radius);
	max-width: none;
	object-fit: cover;
	width: var(--hero-img-size);
}

/* Hero Content */

.hero__heading {
	font: var(--font-heading-hl1);
	grid-column: var(--hero-heading-column);
	letter-spacing: var(--font-heading-letterspacing);
	margin: 0;
	text-transform: var(--font-heading-transform);
}

.hero__text {
	font: var(--font-text-xl);
	grid-column: var(--hero-text-column);
	letter-spacing: var(--font-text-letterspacing);
	text-transform: var(--font-text-transform);
}

.hero__cta {
	display: flex;
	flex-wrap: wrap;
	gap: var(--hero-cta-gap);
	grid-column: var(--hero-cta-column);
	margin-top: var(--hero-cta-margin-top);
}

.hero__link + .hero__link,
.hero__button + .hero__link {
	margin-left: calc(var(--hero-cta-gap) * 2);
}
