.hero {
	--img-size: 680px;
}

.hero {
	position: relative;
	z-index: 0;

	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: var(--space-gap-l);
}

.hero__img {
	position: relative;
	z-index: -1;
	grid-column: 5 / 6;
	grid-row: 1 / 3;
}

.hero__picture {
	position: absolute;
	top: calc(50% - var(--img-size) / 2);
	left: calc(50% - (var(--img-size) / 2 + 86px));

	display: flex;
	align-items: end;
	width: var(--img-size);
	height: var(--img-size);
}

.hero__picture::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background-image: var(--color-gradient);
	opacity: .5;
	backdrop-filter: blur(7px);
	border-radius: 50%;
}

.hero__picture img {
	width: var(--img-size);
	max-width: none;
	object-fit: cover;
	border-radius: 0 0 var(--img-size) var(--img-size);
}

.hero__heading {
	grid-column: 1 / 5;
	margin: 0;

	font: var(--font-heading-hl1);
	letter-spacing: var(--font-heading-letterspacing);
	text-transform: var(--font-heading-transform);
}

.hero__text {
	grid-column: 1 / 4;

	font: var(--font-text-xl);
	letter-spacing: var(--font-text-letterspacing);
	text-transform: var(--font-text-transform);
}

.hero__cta {
	grid-column: 1 / 6;

	display: flex;
	flex-wrap: wrap;
	gap: var(--space-gap-xxs);
	margin-top: var(--space-gap-s);
}
