/* Variables */

.hero {
	--hero-img-size: 680px;
	--hero-img-shift: 0px;
	--hero-padding-y: 120px;
	--hero-padding-x: var(--space-page-padding-x);
	--hero-gap: var(--space-gap-l);
	--hero-cta-gap: var(--space-gap-xxs);
	--hero-cta-margin-top: var(--space-gap-s);
	--hero-picture-overlay-opacity: 0.5;
}

@media (width < 1700px) {
	.hero {
		--hero-img-size: 650px;
		--hero-img-shift: 56px;
	}
}

@media (width < 1600px) {
	.hero {
		--hero-img-size: 650px;
		--hero-img-shift: 0px;
	}
}

@media (width < 1300px) {
	.hero {
		--hero-img-shift: 56px;
	}
}

@media (width < 1200px) {
	.hero {
		--hero-img-size: 560px;
		--hero-img-shift: 120px;
	}
}

@media (width < 1100px) {
	.hero {
		--hero-img-size: 540px;
		--hero-img-shift: 56px;
	}
}

@media (width < 1000px) {
	.hero {
		--hero-img-size: 340px;
		--hero-img-shift: 0px;
	}
}

@media (width < 900px) {
	.hero {
		--hero-img-size: 300px;
	}
}

@media (width < 800px) {
	.hero {
		--hero-img-size: 280px;
	}
}

@media (width < 700px) {
	.hero {
		--hero-img-size: 240px;
	}
}

@media (width < 600px) {
	.hero {
		--hero-img-size: 200px;
	}
}

@media (width < 540px) {
	.hero {
		--hero-img-size: 180px;
	}
}

/* Hero */

.hero {
	display: grid;
	gap: var(--hero-gap);
	grid-template-columns: repeat(5, 1fr);
	padding: var(--hero-padding-y) var(--hero-padding-x);
	position: relative;
}

:where(.hero) {
	z-index: 0;
}

.hero_size_small {
	padding: var(--hero-padding-x);
}

@media (width < 1600px) {
	.hero {
		overflow: hidden;
	}
}

/* Hero Image */

.hero__img {
	grid-column: 4 / 6;
	grid-row: 1 / 4;
	position: relative;
	z-index: -1;
}

@media (width < 1200px) {
	.hero__img {
		grid-row: 1 / 3;
	}
}

@media (width < 1000px) {
	.hero__img {
		height: calc(var(--hero-img-size) / 1.7);
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}
}

.hero__picture {
	position: absolute;
	left: calc(50% - var(--hero-img-size) / 2 + var(--hero-img-shift));
	top: calc(50% - var(--hero-img-size) / 2);
	width: var(--hero-img-size);
	height: var(--hero-img-size);
	display: flex;
	align-items: end;
	justify-content: center;
}

.hero__picture::before {
	background-image: var(--color-gradient);
	border-radius: 50%;
	content: '';
	opacity: var(--hero-picture-overlay-opacity);
	position: absolute;
	z-index: -1;
	width: var(--hero-img-size);
	height: var(--hero-img-size);
}

.hero__picture img {
	border-radius: 0 0 var(--hero-img-size) var(--hero-img-size);
	max-width: none;
	object-fit: cover;
	width: var(--hero-img-size);
}

/* Hero Content */

.hero__heading {
	font: var(--font-heading-hl1);
	grid-column: 1 / 5;
	grid-row: 1 / 2;
	letter-spacing: var(--font-heading-letterspacing);
	margin: 0;
	text-transform: var(--font-heading-transform);
}

@media (width < 1000px) {
	.hero__heading {
		grid-column: 1 / -1;
		grid-row: 2 / 3;
	}
}

.hero__text {
	font: var(--font-text-xl);
	grid-column: 1 / 4;
	grid-row: 2 / 3;
	letter-spacing: var(--font-text-letterspacing);
	text-transform: var(--font-text-transform);
}

@media (width < 1000px) {
	.hero__text {
		grid-column: 1 / -2;
		grid-row: 3 / 4;
	}
}

@media (width < 540px) {
	.hero__text {
		grid-column: 1 / -1;
	}
}

.hero__cta {
	display: flex;
	flex-wrap: wrap;
	gap: var(--hero-cta-gap);
	grid-column: 1 / -1;
	grid-row: 3 / 4;
	margin-top: var(--hero-cta-margin-top);
}

@media (width < 1000px) {
	.hero__cta {
		grid-row: 4 / 5;
	}
}

.hero__link + .hero__link,
.hero__button + .hero__link {
	margin-left: calc(var(--hero-cta-gap) * 2);
}
