.ico-button {
	--button-size: 40px;
	--button-ico-size: 24px;
	--button-color: var(--color-common-primary);
	--button-bg: transparent;

	display: grid;
	width: var(--button-size);
	height: var(--button-size);

	color: var(--button-color);
	background-color: var(--button-bg);
	border: none;
	border-radius: 2px;
	place-content: center;

	transition:
		color 200ms,
		background-color 200ms;
}

.ico-button:hover {
	--button-color: var(--color-common-primary-hover);
	--button-bg: var(--color-common-base-hover);
}

.ico-button:active {
	--button-color: var(--color-common-primary-active);
	--button-bg: var(--color-common-base-active);
}

.ico-button_secondary {
	--button-bg: var(--color-common-secondary);
}

.ico-button_secondary:hover {
	--button-bg: var(--color-common-secondary-hover);
}

.ico-button_secondary:active {
	--button-bg: var(--color-common-secondary-active);
}

.ico-button_rounded {
	border-radius: 50%;
}

.ico-button_s {
	--button-size: 32px;
	--button-ico-size: 16px;
}

.ico-button_l {
	--button-size: 48px;
	--button-ico-size: 20px;
}

.ico-button_xl {
	--button-size: 56px;
	--button-ico-size: 24px;
}

@media (width < 880px) {
	.ico-button_small_s {
		--button-size: 32px;
		--button-ico-size: 16px;
	}

	.ico-button_small_l {
		--button-size: 48px;
		--button-ico-size: 20px;
	}

	.ico-button_small_xl {
		--button-size: 56px;
		--button-ico-size: 24px;
	}
}

@media (880px <= width < 1500px) {
	.ico-button_small_s {
		--button-size: 32px;
		--button-ico-size: 16px;
	}

	.ico-button_small_l {
		--button-size: 48px;
		--button-ico-size: 20px;
	}

	.ico-button_small_xl {
		--button-size: 56px;
		--button-ico-size: 24px;
	}
}

@media (width >= 1500px) {
	.ico-button_small_s {
		--button-size: 32px;
		--button-ico-size: 16px;
	}

	.ico-button_small_l {
		--button-size: 48px;
		--button-ico-size: 20px;
	}

	.ico-button_small_xl {
		--button-size: 56px;
		--button-ico-size: 24px;
	}
}

.ico-button::before {
	width: var(--button-ico-size);
	height: var(--button-ico-size);
	background-color: var(--button-color);
	content: '';
}

.ico-button_menu::before {
	mask-image: url('../img/icons.svg#menu');
}

.ico-button_menu-close::before {
	mask-image: url('../img/icons.svg#arrow-long-right');
}

.ico-button_next::before {
	mask-image: url('../img/icons.svg#arrow-right');
}

.ico-button_previous::before {
	mask-image: url('../img/icons.svg#arrow-left');
}

.ico-button_home::before {
	mask-image: url('../img/icons.svg#home');
}

.ico-button_email::before {
	mask-image: url('../img/icons.svg#email');
}

.ico-button_behance::before {
	mask-image: url('../img/icons.svg#behance');
}

.ico-button_dribbble::before {
	mask-image: url('../img/icons.svg#dribbble');
}
