.icon {
	--icon-color-alt: var(--color-text-alt);

	display: block;
	color: currentColor;
}

.icon_inverse {
	--icon-color-alt: var(--color-text-alt-inverse);
}

.icon__part {
	fill: currentColor;
}

.icon__part_alt {
	fill: var(--icon-color-alt);
}
