.label {
	display: inline-block;
	padding: 5px 10px;

	color: var(--color-text-inverse);
	background-color: var(--color-common-primary);
	border-radius: 2px;

	font-size: var(--text-size-l);
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 0.08em;
}

.label_s {
	padding: 4px 8px;
	font-size: var(--text-size-m);
}

.label_m {
	padding: 5px 10px;
	font-size: var(--text-size-l);
}

.label_l {
	padding: 6px 10px;
	font-size: var(--text-size-xl);
}

@media (width < 880px) {
	.label_small_s {
		padding: 4px 8px;
		font-size: var(--text-size-m);
	}

	.label_small_m {
		padding: 5px 10px;
		font-size: var(--text-size-l);
	}

	.label_small_l {
		padding: 6px 10px;
		font-size: var(--text-size-xl);
	}
}

@media (880px <= width < 1500px) {
	.label_medium_s {
		padding: 4px 8px;
		font-size: var(--text-size-m);
	}

	.label_small_m {
		padding: 5px 10px;
		font-size: var(--text-size-l);
	}

	.label_medium_l {
		padding: 6px 10px;
		font-size: var(--text-size-xl);
	}
}

@media (width >= 1500px) {
	.label_large_s {
		padding: 4px 8px;
		font-size: var(--text-size-m);
	}

	.label_small_m {
		padding: 5px 10px;
		font-size: var(--text-size-l);
	}

	.label_large_l {
		padding: 6px 10px;
		font-size: var(--text-size-xl);
	}
}
