.link {
	--link-text-color: var(--color-text-base);
	--link-font: var(--font-label-m);
	--link-gap: var(--space-gap-xxs);
	--link-underline-color: var(--color-text-alt);
	--link-underline-offset: var(--space-gap-3xs);
	--link-icon-size: var(--space-size-s);
	--link-icon-color: currentColor;
	--link-external-size: var(--space-size-4xs);
}

/* Link */

.link {
	align-items: center;

	color: var(--link-text-color);
	display: inline-flex;

	font: var(--link-font);
	gap: var(--link-gap);
	letter-spacing: var(--font-text-letterspacing);
	text-decoration: none;
	text-transform: var(--font-text-transform);

	transition: color var(--transition-element-duration) var(--transition-element-function);
}

.link:hover {
	--link-underline-color: var(--color-text-primary);
	--link-icon-color: var(--color-text-primary);
}

.link:active {
	--link-text-color: var(--color-text-alt);
	--link-underline-color: var(--color-text-alt);
	--link-icon-color: var(--color-text-alt);

}

/* Plain links */

a:not([class]) {
	color: var(--link-text-color);
	font: var(--link-font);
	letter-spacing: var(--font-text-letterspacing);
	text-decoration: underline;
	text-decoration-color: var(--link-underline-color);
	text-decoration-thickness: var(--space-border-light);
	text-transform: var(--font-text-transform);
	text-underline-offset: var(--link-underline-offset);
	transition:
		color var(--transition-element-duration) var(--transition-element-function),
		text-decoration-color var(--transition-element-duration) var(--transition-element-function);
}

a:not([class]):hover {
	text-decoration-color: var(--color-text-primary);
}

a:not([class]):active {
	color: var(--color-text-alt);
	text-decoration-color: var(--color-text-alt);
}

/* Sizes */

.link_size_xs {
	--link-font: var(--font-text-xs);
	--link-gap: var(--space-gap-4xs);
	--link-icon-size: var(--space-size-xxs);
	--link-underline-offset: var(--space-gap-4xs);
}

.link_size_s {
	--link-font: var(--font-text-s);
	--link-gap: var(--space-gap-3xs);
	--link-icon-size: var(--space-size-xs);
	--link-underline-offset: var(--space-gap-4xs);
}

/* Elements */

.link__icon,
.link__external {
	flex-shrink: 0;
}

.link__icon {
	height: var(--link-icon-size);
	width: var(--link-icon-size);
	color: var(--link-icon-color);
	transition: color var(--transition-element-duration) var(--transition-element-function);
}

.link__external {
	height: var(--link-icon-size);
	width: var(--link-external-size);
}

.link__text {
	text-decoration: underline;
	text-decoration-color: var(--link-underline-color);
	text-decoration-thickness: var(--space-border-light);
	text-underline-offset: var(--link-underline-offset);
	transition: text-decoration-color var(--transition-element-duration) var(--transition-element-function);
}
