@media (width < 880px) {
	.links {
		--links-heading-font: var(--font-heading-xxs);
		--links-text-font: var(--font-text-m);
	}
}

@media (width >= 880px) {
	.links {
		--links-heading-font: var(--font-heading-xs);
		--links-text-font: var(--font-text-l);
	}
}

/* Links */

.links {
	display: grid;
	row-gap: 40px;
	padding: 16px 0 0;

	list-style: none;
}

@media (width >= 1500px) {
	.links {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 32px;
	}
}

/* Heading */

.links__heading {
	margin: 0;
	font: var(--links-heading-font);
}

@media (width < 880px) {
	.links__heading {
		margin-bottom: 6px;
	}
}

@media (width >= 880px) {
	.links__heading {
		margin-bottom: 8px;
	}
}

/* Text */

.links__text {
	margin: 0;
	color: var(--color-text-secondary);
	font: var(--links-text-font);
}

@media (width < 880px) {
	.links__text {
		margin-bottom: 8px;
	}
}

@media (width >= 880px) {
	.links__text {
		margin-bottom: 16px;
	}
}

/* Link */

.links__link {
	display: inline-flex;
	column-gap: 6px;
}

.links__link::before {
	content: '';

	width: 24px;
	height: 24px;

	background-color: var(--color-text-primary);
	mask-image: url('../img/icons.svg#link');

	transition: background-color 200ms;
}

.links__link_video::before {
	mask-image: url('../img/icons.svg#video');
}

.links__link_slides::before {
	mask-image: url('../img/icons.svg#slide');
}

.links__link_article::before {
	mask-image: url('../img/icons.svg#article');
}

.links__link:hover::before {
	background-color: var(--color-text-primary-hover);
}

.links__link:active::before {
	background-color: var(--color-text-primary-active);
}

@media (width < 880px) {
	.links__link:not(:last-child) {
		margin-right: 8px;
	}
}

@media (width >= 880px) {
	.links__link:not(:last-child) {
		margin-right: 16px;
	}
}
