.link {
	display: inline-flex;
	align-items: start;
	column-gap: .35em;

	color: var(--color-text-base);
}

.link_secondary {
	color: var(--color-text-secondary);
}

[class*='link_']::before {
	content: '';

	width: 1.2em;
	height: 1.2em;
	margin-top: 4px;

	background-color: var(--color-text-primary);
	mask-image: url('../img/icons.svg#link');

	transition: background-color 200ms;
}

.link_link::before {
	mask-image: url('../img/icons.svg#link');
}

.link_video::before {
	mask-image: url('../img/icons.svg#video');
}

.link_slides::before {
	mask-image: url('../img/icons.svg#slide');
}

.link_article::before {
	mask-image: url('../img/icons.svg#article');
}

.link:hover::before {
	background-color: var(--color-text-primary-hover);
}

.link:active::before {
	background-color: var(--color-text-primary-active);
}
