.links {
	display: grid;
	gap: 40px;
	padding: 16px 0 0;

	list-style: none;
}

.links__heading {
	margin: 0 0 6px;

	font-size: var(--text-size-xl);
	font-weight: 700;
	line-height: 1.3;
}

.links__text {
	margin: 0 0 8px;

	color: var(--color-text-secondary);
}

.links__link {
	display: inline-block;

	color: var(--color-text-base);

	text-underline-offset: 4px;
}

.links__link + .links__link {
	margin-left: 8px;
}
