/* Variables */

.list {
	--list-columns: 1;
	--list-gap: var(--space-gap-l);
	--list-item-gap: var(--space-gap-xxs);
	--list-item-font: var(--font-text-s);
	--list-item-color: var(--color-text-base);
	--list-order-font: var(--font-caption-xs);
	--list-order-color: var(--color-text-alt);
	--list-order-border-width: var(--space-border-light);
	--list-order-border-color: var(--color-border-base);
	--list-order-padding-bottom: var(--space-gap-3xs);
	--list-unordered-gap: var(--space-gap-5xs);
	--list-unordered-padding-x-start: var(--space-gap-3xs);
	--list-unordered-marker-width: var(--space-size-xs);
	--list-unordered-marker-height: var(--space-border-medium);
	--list-unordered-marker-color: var(--color-text-alt);
	--list-unordered-marker-offset: .8em;
}

/* List */

.list {
	list-style: none;
	padding: 0;
	display: grid;
	gap: var(--list-gap);
	align-content: start;
	grid-template-columns: repeat(var(--list-columns), minmax(0, 1fr));
}

.list__item {
	color: var(--list-item-color);
	font: var(--list-item-font);
	margin: 0;
}

/* Ordered */

.list_type_ordered {
	counter-reset: list-item;
}

.list_type_ordered .list__item {
	counter-increment: list-item;
}

.list_type_ordered .list__item::before {
	display: block;
	margin-bottom: var(--list-item-gap);
	border-bottom: var(--list-order-border-width) solid var(--list-order-border-color);
	color: var(--list-order-color);
	content: counter(list-item, decimal-leading-zero);
	font: var(--list-order-font);
	letter-spacing: var(--font-caption-letterspacing);
	padding-bottom: var(--list-order-padding-bottom);
	text-transform: var(--font-caption-transform);
}

.list_type_ordered .list__item[data-list-label]::before {
	content: attr(data-list-label);
}

/* Unordered */

.list:not(.list_type_ordered) {
	--list-gap: var(--list-unordered-gap);
	padding-left: var(--list-unordered-padding-x-start);
}

.list:not(.list_type_ordered) .list__item {
	align-items: start;
	column-gap: var(--list-item-gap);
	display: grid;
	grid-template-columns: var(--list-unordered-marker-width) minmax(0, 1fr);
}

.list:not(.list_type_ordered) .list__item::before {
	content: '';
	background-color: var(--list-unordered-marker-color);
	width: var(--list-unordered-marker-width);
	height: var(--list-unordered-marker-height);
	margin-top: var(--list-unordered-marker-offset);
}

/* Columns */

.list_columns_2 {
	--list-columns: 2;
}

.list_columns_3 {
	--list-columns: 3;
}

@media (width < 800px) {
	.list_columns_2 {
		--list-columns: 1;
	}
}
