.logo {
	--logo-color: var(--color-text-primary);

	display: flex;
	align-items: center;
	gap: 10px;
	height: 64px;

	color: var(--logo-color);

	font-size: var(--heading-size-s);
	font-weight: 700;
	text-decoration: none;
	text-transform: lowercase;
	letter-spacing: .04em;

	transition: color 150ms;
}

.logo::before {
	content: '';
	width: 80px;
	height: 2px;

	background-color: var(--logo-color);

	transition:
		width 200ms ease-out,
		background-color 150ms;
}

.logo__word {
	display: flex;
	justify-content: center;
	width: 28px;

	text-align: center;

	transition: width 200ms ease-out;
}

.logo__word_name {
	order: -1;
}

.logo__hidden {
	width: 0;
	flex-grow: 0;
	overflow: hidden;

	transition: width 200ms ease-out;
}

.logo:hover {
	--logo-color: var(--color-text-primary-hover);
}

.logo:hover::before {
	width: 16px;
}

.logo:hover .logo__word_name {
	width: 85px;
}

.logo:hover .logo__word_surname {
	width: 136px;
}

.logo:hover .logo__hidden {
	width: 100%;
}
