.main {
	--main-padding: 120px 80px;
}

@media (880px <= width < 1500px) {
	.main {
	}
}

@media (width >= 1500px) {
	.main {
	}
}

/* .main::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: calc(50% - 460px);
	width: 920px;
	z-index: -1;

	opacity: .4;
	background-size: 206px 100%;
	background-repeat: space repeat;
	background-image: linear-gradient(to right, var(--color-border-base) 1px, transparent 1px, transparent 205px, var(--color-border-base) 205px);
} */

/* Main Section */

.main__section {
	padding: var(--main-padding);
}
