/* Variables */

.main {
	--main-header-margin-top: var(--space-gap-xl);
	--main-header-margin-bottom: var(--space-gap-l);
	--main-grid-columns: 5;
	--main-grid-padding-x: var(--space-page-padding-x);
	--main-grid-gap: var(--space-gap-l);
	--main-grid-border-width: var(--space-border-light);
	--main-grid-border-color: var(--color-border-base);
	--main-grid-opacity: 0.4;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
	.main {
		--main-grid-border-width: var(--space-border-hair);
	}
}

@media (width < 500px) {
	.main {
		--main-grid-columns: 5;
	}
}

/* Main */

.main {
	position: relative;
	overflow: hidden;
}

:where(.main) {
	z-index: 0;
}

/* Header */

.main__header {
	margin: var(--main-header-margin-top) 0 var(--main-header-margin-bottom);
}

@media (width < 1600px) {
	.main__header {
		position: sticky;
		top: 0;
		z-index: 1;
	}
}

/* Grid */

.main__grid {
	display: grid;
	gap: var(--main-grid-gap);
	grid-template-columns: repeat(var(--main-grid-columns), minmax(0, 1fr));

	inset: 0 var(--main-grid-padding-x);
	pointer-events: none;
	position: absolute;
	z-index: -1;
}

.main__column {
	border-right: var(--main-grid-border-width) solid var(--main-grid-border-color);
	border-left: var(--main-grid-border-width) solid var(--main-grid-border-color);
	opacity: var(--main-grid-opacity);
}
