@media (width >= 1500px) {
	.me:not(.me_small) {
		display: grid;
		grid-template-columns: 64px 1fr;
		column-gap: 16px;
	}
}

.me__img {
	display: block;
	border-radius: 50%;
}

@media (width < 1500px) {
	.me__img {
		margin-bottom: 16px;
	}
}

@media (width >= 1500px) {
	.me__img {
		grid-row: 1 / 3;
	}
}

.me__name {
	margin: 0;

	font-size: var(--text-size-l);
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.08em;
}

@media (width >= 1500px) {
	.me__name {
		align-self: end;
	}
}

.me__email {
	color: var(--color-text-primary);

	text-decoration-color: transparent;

	transition: color 150ms, text-decoration-color 150ms;
}

.me__email:hover {
	text-decoration-color: var(--color-text-primary-hover);
}

.me__email:active {
	text-decoration-color: var(--color-text-primary-active);
}
