.page {
	min-width: 320px;

	color: var(--color-text-base);
	background-color: var(--color-surface-base);

	font-family: 'Ubuntu', sans-serif;
	font-size: var(--text-size-m);
	line-height: 1.6;
}

.page__body {
	margin: 0;
}

.page__aside {
	position: relative;
}

html:not(.no-js) .page__aside {
	position: fixed;
	top: 0;
	left: calc(100% - 40px);
	bottom: 0;

	width: calc(100vw - 80px);
}

html:not(.no-js) .page__aside_opened {
	box-shadow: 0 4px 24px var(--color-common-base);

	transform: translateX(-246px);
}
