:root {
	--page-content-width: 1400px;
	--page-aside-width: 340px;
}

.page {
	min-width: 320px;

	color: var(--color-text-base);
	background-color: var(--color-surface-base);

	font: var(--font-text-m);
}

/* Page body */

.page__body {
	position: relative;
	z-index: 0;

	display: grid;
	grid-template-columns: 1fr var(--page-aside-width);
	max-width: calc( var(--page-content-width) + var(--page-aside-width) );

	margin: 0 auto;
}
