.paper-heading {
	display: flex;
	align-items: baseline;
	gap: .3em;

	font: var(--font-heading-l);

	color: var(--color-text-base);
}

.paper-heading_size_s {
	font: var(--font-heading-xxs);
	font-weight: 500;
}

.paper-heading::after {
	content: '';
	position: relative;
	top: .15em;

	width: .65em;
	height: .15em;

	background-color: var(--color-text-tertiary);
}

.paper-heading__small {
	order: 1;
	color: var(--color-text-secondary);
	font: var(--font-heading-xs);
}

.paper-heading_size_s .paper-heading__small {
	color: var(--color-text-base);
	font: var(--font-heading-xxs);
	font-weight: 500;
}
