.paper-header {
	padding: 48px 56px 32px;
}

.paper-header__heading {
	margin: 0 0 28px;
}

.paper-header__about {
	display: grid;
	grid-template-columns: 1fr 36%;
	gap: 40px;
	margin: 0 0 24px;

	color: var(--color-text-secondary);

	font: var(--font-text-m);
}

.paper-header__about p {
	margin: 0;
}
