.paper {
	display: grid;
	grid-template-columns: 1fr 26%;

	background-color: var(--color-surface-base);
	border: 1px solid var(--color-border-base);
	border-radius: 8px;
}

.paper__aside {
	padding: 32px;

	background-color: var(--color-surface-secondary);
}
