.paper {
	display: grid;
	grid-template-columns: 1fr 312px;

	background-color: var(--color-surface-base);
	border: 1px solid var(--color-border-base);
	border-radius: 8px;
	box-shadow: 0 8px 24px -10px var(--color-common-secondary);
}


.paper__aside {
	padding: 32px;

	background-color: var(--color-surface-secondary);
}
