.paper-section {
	padding: 24px 56px;
	border-top: 1px solid var(--color-border-base);
}

.paper-section__heading {
	margin: 0 0 24px;
	color: var(--color-text-secondary);
	font: var(--font-heading-xxs);
	font-weight: 500;
}

.paper-section__content {
	margin: 0;
}
