.paper-list {
	padding: 8px;
}

.paper-list_inline {
	display: flex;
	justify-content: space-between;
	gap: 6px;
	padding: 0;
}

.paper-list_performances {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 6px;
	padding: 0;
}

.paper-list__item {
	display: grid;
	grid-template-columns: 20px 1fr;
	gap: 6px;
}

.paper-list__item::before {
	content: '';

	width: 20px;
	height: 20px;
	margin-top: 2px;

	background-color: var(--color-text-base);
	mask-image: url(../img/icons.svg#dash);
}

.paper-list:not(.paper-list_inline) .paper-list__item + .paper-list__item {
	margin-top: 8px;
}

.paper-list__link {
	text-decoration: none;
	line-height: 1.3;
}

.paper-list__site {
	color: var(--color-text-secondary);

	font-size: 12px;
	text-decoration: underline;
}

.paper-list__link:hover {
	color: var(--color-text-base);
}

.paper-list__link:hover .paper-list__site {
	color: var(--color-text-primary-hover);
}
