.paper-links {
	display: flex;
	justify-content: space-between;
	gap: 8px;
	margin: 0;
	padding: 0;

	list-style: none;

	font: var(--font-text-l);
}

.paper-links__link {
	--link-color: var(--color-text-base);

	display: flex;
	gap: 6px;

	color: var(--link-color);
}

.paper-links__link::before {
	content: '';

	width: 20px;
	height: 20px;
	margin-top: 2px;

	background-color: var(--link-color);

	transition: background-color 200ms;
}

.paper-links__item_linkedin .paper-links__link::before {
	mask-image: url(../img/icons.svg#linkedin);
}

.paper-links__item_behance .paper-links__link::before {
	mask-image: url(../img/icons.svg#behance);
}

.paper-links__item_dribbble .paper-links__link::before {
	mask-image: url(../img/icons.svg#dribbble);
}
