/* Variables */

.portfolio {
	--portfolio-gap: var(--space-gap-l);
	--portfolio-border: var(--space-border-light) solid var(--color-border-base);
	--portfolio-item-padding-bottom: var(--space-gap-l);

	--portfolio-heading-margin-bottom: var(--space-gap-s);

	--portfolio-tag-gap: var(--space-gap-xxs);
	--portfolio-tags-margin-top: var(--space-gap-xxs);
	--portfolio-tags-margin-bottom: var(--space-gap-xxs);

	--portfolio-description-font: var(--font-text-m);
	--portfolio-description-color: var(--color-text-secondary);
	--portfolio-description-margin-bottom: var(--space-gap-s);

	--portfolio-media-meta-bottom: var(--space-gap-xxs);

	--portfolio-media-margin-bottom: 0;
	--portfolio-media-height: 340px;
}

@media (width < 1000px) {
	.portfolio {
		--portfolio-media-height: 280px;
	}
}

@media (width < 800px) {
	.portfolio {
		--portfolio-media-height: 220px;
	}
}

@media (width < 600px) {
	.portfolio {
		--portfolio-media-height: 160px;
	}
}

@media (width < 500px) {
	.portfolio {
		--portfolio-media-margin-bottom: var(--space-gap-m);
	}
}

/* Block */

.portfolio {
	display: grid;
	gap: var(--portfolio-gap);
	list-style: none;
	padding: 0;
}

.portfolio__item {
	position: relative;
	margin: 0;
	padding-bottom: var(--portfolio-item-padding-bottom);
	display: grid;
	column-gap: var(--portfolio-gap);
	grid-template-columns: repeat(5, minmax(0, 1fr));
	grid-template-rows: max-content max-content 1fr max-content;
	grid-template-areas:
		'tags tags tags media media'
		'heading heading heading media media'
		'description description description media media'
		'meta meta meta media media';
	border-bottom: var(--portfolio-border);
}

@media (width < 800px) {
	.portfolio__item {
		grid-template-areas:
			'tags tags tags tags tags'
			'heading heading heading media media'
			'description description description media media'
			'meta meta meta media media';
	}
}

@media (width < 600px) {
	.portfolio__item {
		grid-template-areas:
			'tags tags tags tags tags'
			'heading heading heading heading heading'
			'description description description media media'
			'meta meta meta media media';
	}
}

@media (width < 500px) {
	.portfolio__item {
		grid-template-areas:
			'media media media media media'
			'tags tags tags tags tags'
			'heading heading heading heading heading'
			'description description description description description'
			'meta meta meta meta meta';
	}
}

/* Content */

.portfolio__heading {
	grid-area: heading;
	margin: 0 0 var(--portfolio-heading-margin-bottom);
}

.portfolio__link::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.portfolio__tags {
	grid-area: tags;
	display: flex;
	flex-wrap: wrap;
	gap: var(--portfolio-tag-gap);
	list-style: none;
	margin: var(--portfolio-tags-margin-top) 0 var(--portfolio-tags-margin-bottom);
	padding: 0;
}

.portfolio__tag {
	display: flex;
	margin: 0;
}

.portfolio__description {
	grid-area: description;
	color: var(--portfolio-description-color);
	font: var(--portfolio-description-font);
	margin: 0 0 var(--portfolio-description-margin-bottom);
}

.portfolio__meta {
	grid-area: meta;
	margin: 0 0 var(--portfolio-media-meta-bottom);
}

.portfolio__media {
	grid-area: media;
	display: grid;
	gap: var(--space-gap-xs);
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	min-height: var(--portfolio-media-height);
	margin-bottom: var(--portfolio-media-margin-bottom);
	overflow: hidden;
}

@media (width < 500px) {
	.portfolio__media {
		height: var(--portfolio-media-height);
	}
}

.portfolio__image {
	display: block;
	height: 100%;
	width: 100%;
}

.portfolio__img {
	display: block;
	height: 100%;
	object-fit: cover;
	width: 100%;
}
