/* Portfolio */

@media (width < 1200px) {
	.portfolio {
		--portfolio-heading-font: var(--font-text-xl);
		--portfolio-preview-height: 300px;
	}
}

@media (1200px <= width < 1500px) {
	.portfolio {
		--portfolio-heading-font: var(--font-text-xl);
		--portfolio-preview-height: 300px;
	}

	.portfolio__item:first-child,
	.portfolio__item:nth-child(2) {
		--portfolio-preview-height: 360px;
	}
}

@media (width >= 1500px) {
	.portfolio {
		--portfolio-heading-font: var(--font-text-xl);
		--portfolio-preview-height: 320px;
	}

	.portfolio__item:first-child {
		--portfolio-heading-font: var(--font-text-shout);
		--portfolio-preview-height: 460px;
	}

	.portfolio__item:nth-child(2),
	.portfolio__item:nth-child(3) {
		--portfolio-preview-height: 380px;
	}
}

.portfolio {
	position: relative;
	z-index: 0;
}

/* List */

@media (1200px <= width < 1500px) {
	.portfolio__list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (width >= 1500px) {
	.portfolio__list {
		grid-template-columns: repeat(6, 1fr);
	}
}

.portfolio__list {
	display: grid;
	gap: 8px;
	margin: 0;
	padding: 0;

	list-style: none;
}

/* Item */

@media (880px <= width < 1500px) {
	.portfolio__item:nth-child(2) {
		grid-column: 1 / -1;
	}
}

@media (width >= 1500px) {
	.portfolio__item {
		grid-column: span 2;
	}

	.portfolio__item:nth-child(2),
	.portfolio__item:nth-child(3) {
		grid-column: span 3;
	}
}

.portfolio__item {
	display: grid;
	column-gap: 32px;
}

.portfolio__item:first-child {
	grid-column: 1 / -1;
}

@media (width < 880px) {
	.portfolio__item {
		row-gap: 8px;
	}
}

@media (width >= 880px) {
	.portfolio__item {
		row-gap: 16px;
	}
}

/* Link */

.portfolio__link {
	position: relative;
	z-index: 1;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	grid-column: 1 / -1;
	grid-row: 1 / 1;

	text-decoration: none;
}

@media (width < 880px) {
	.portfolio__link {
		padding: 24px;
		row-gap: 16px;
	}
}

@media (width >= 660px) {
	.portfolio__link {
		grid-template-columns: 1fr 1fr;
		column-gap: 32px;
		row-gap: 24px;
		padding: 32px;
	}
}

.portfolio__link[href]::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.portfolio__link[href]:hover {
	color: var(--color-text-primary-hover);
}

.portfolio__link::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;

	background-image: linear-gradient(
		to bottom,
		hsla(222, 47%, 6%, 0.5) 0%,
		hsla(222, 47%, 6%, 0.449) 13.7%,
		hsla(222, 47%, 6%, 0.399) 25.5%,
		hsla(222, 47%, 6%, 0.35) 35.5%,
		hsla(222, 47%, 6%, 0.303) 43.9%,
		hsla(222, 47%, 6%, 0.257) 51%,
		hsla(222, 47%, 6%, 0.214) 57.1%,
		hsla(222, 47%, 6%, 0.173) 62.3%,
		hsla(222, 47%, 6%, 0.136) 66.8%,
		hsla(222, 47%, 6%, 0.103) 71%,
		hsla(222, 47%, 6%, 0.073) 75%,
		hsla(222, 47%, 6%, 0.048) 79%,
		hsla(222, 47%, 6%, 0.028) 83.3%,
		hsla(222, 47%, 6%, 0.013) 88%,
		hsla(222, 47%, 6%, 0.003) 93.5%,
		hsla(222, 47%, 6%, 0) 100%
	);
}

/* Heading */

.portfolio__heading {
	margin: 0 0 16px;

	font: var(--portfolio-heading-font);
}

/* Label */

.portfolio__label {
	grid-row-start: 2;
	align-self: start;
	justify-self: start;
}

/* Picture */

.portfolio__picture {
	position: relative;

	grid-column: 1 / -1;
	grid-row: 1 / 1;

	display: flex;
	height: var(--portfolio-preview-height);
	margin: 0;

	border-radius: 4px;
	overflow: hidden;
}

.portfolio__picture img {
	position: relative;

	width: 100%;
	object-fit: cover;

	transition: transform 300ms cubic-bezier(0, 0.55, 0.45, 1);
}

.portfolio__link[href]:hover + .portfolio__picture img {
	transform: scale(1.1);
}

/* Chain */

.portfolio__url {
	display: flex;
	align-items: center;
	margin: 0;

	color: var(--color-text-base);
	fill: currentColor;

	font: var(--font-text-l);
}

.portfolio__url-text {
    transform: translateX(-28px);
    transition: transform 200ms ease-out 150ms;
}

.portfolio__chain {
    margin-top: 1px;
    margin-left: -8px;

	color: transparent;
    transition: color 200ms ease 100ms;
}

.portfolio__link:hover .portfolio__chain,
.portfolio__link:focus .portfolio__chain {
	color: inherit;
}

.portfolio__link:hover .portfolio__url-text,
.portfolio__link:focus .portfolio__url-text {
	transform: translateX(0);
	transition: transform 200ms ease-out;
}

.portfolio__chain-left,
.portfolio__chain-right {
    transition: transform 200ms ease-out 200ms;
}

.portfolio__chain-left {
	transform: translateX(-8px);
}

.portfolio__chain-right {
	transform: translateX(8px);
}

.portfolio__link:hover .portfolio__chain-left,
.portfolio__link:focus .portfolio__chain-left,
.portfolio__link:hover .portfolio__chain-right,
.portfolio__link:focus .portfolio__chain-right {
	transform: translateX(0);
	transition: transform 200ms ease-out 150ms;
}
