@media (width < 880px) {
	.promo-header {
	}
}

@media (880px <= width < 1500px) {
	.promo-header {
	}
}

@media (width >= 1500px) {
	.promo-header {
	}
}

/* Section Header */

.promo-header {
}

/* Heading */

.promo-header__heading {

	font: var(--font-heading-h1);
	letter-spacing: 4%;
	margin: 0;
}

/* Text */

.promo-header__content {
	color: var(--color-text-base);

	font: var(--font-text-promo);
	grid-column: span 2;
	max-width: 378px;
}

.promo-header__content p {
	margin: 0;
}

/* Buttons */

.promo-header__buttons {
	display: flex;
	gap: 16px;
	margin-top: 32px;
}
