/* Variables */

/* Video */

.promo-video {

	border-radius: 50%;
	overflow: hidden;
	position: relative;
}

/* Link */

.promo-video__main-link {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

/* Button */

.promo-video__button {

	background-color: var(--color-text-primary);
	border: none;
	bottom: 0;
	cursor: pointer;
	display: none;
	left: 0;
	mask-image: url('../img/icons.svg#video');
	mask-position: 50%;
	mask-repeat: no-repeat;
	mask-size: 80px 80px;
	position: absolute;
	right: 0;
	top: 0;

	transition: mask-size 300ms cubic-bezier(0, 0.55, 0.45, 1);
	z-index: 2;
}

.promo-video__button:hover {
	mask-size: 96px 96px;
}

.promo-video_enabled .promo-video__button {
	display: block;
}

/* Media */

.promo-video__media {
	display: flex;
}
