/* Variables */

@media (width < 880px) {

}

@media (880px <= width < 1500px) {

}

@media (width >= 1500px) {
	.promo {
		--video-margin: -64px 0 -64px -84px;
	}
}

/* Promo */

.promo {
	display: grid;
	grid-template-columns: 1fr var(--content-width) 1fr;
}

/* Main */

.promo__main {
	grid-column: 2 / -2;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	column-gap: var(--grid-gap);
}

/* Header */

.promo__header {
	grid-column: 1 / 3;
}

/* Video */

.promo__video {
	grid-column: 3 / 5;
	margin: var(--video-margin);
}
