/* Variables */

.section {
	--section-gap: var(--space-gap-l);
	--section-header-column: 1 / -1;
	--section-padding-y: 80px;
	--section-padding-x: var(--space-page-padding-x);
	--section-columns: 5;
	--section-header-gap: var(--space-gap-xxs);
	--section-header-border: var(--space-border-light) solid var(--color-border-base);
	--section-header-padding-bottom: var(--space-gap-xxs);
	--section-eyebrow-color: var(--color-text-primary);
	--section-eyebrow-font: var(--font-caption-s);
	--section-eyebrow-letterspacing: var(--font-caption-letterspacing);
	--section-eyebrow-transform: var(--font-caption-transform);
	--section-eyebrow-padding-x: var(--space-gap-5xs);
	--section-heading-font: var(--font-heading-hl3);
	--section-heading-letterspacing: var(--font-caption-letterspacing);
	--section-lead-font: var(--font-text-m);
	--section-lead-column: 1 / span 3;
	--section-content-font: var(--font-text-s);
	--section-content-column: 1 / span 4;
	--section-container-column: var(--section-content-column);
	--section-container-gap: var(--space-gap-s);
	--section-tail-font: var(--section-lead-font);
	--section-tail-column: var(--section-lead-column);
	--section-cta-column: 1 / -1;
	--section-cta-gap: var(--space-gap-xxs);
	--section-decor-column: 1 / -1;
	--section-decor-align-content: end;
	--section-decor-height: 200px;
	--section-decor-margin-x-end: calc(var(--section-padding-x) * -1);
}

@media (width < 1000px) {
	.section {
		--section-padding-y: 64px;
	}
}

@media (width < 800px) {
	.section {
		--section-padding-y: 48px;
	}
}

@media (width < 540px) {
	.section {
		--section-padding-y: 32px;
	}
}

/* Section */

.section {
	display: grid;
	gap: var(--section-gap);
	grid-template-columns: repeat(var(--section-columns), minmax(0, 1fr));
	padding: var(--section-padding-y) var(--section-padding-x);
}

.section__header {
	border-bottom: var(--section-header-border);
	display: flex;
	flex-direction: column;
	gap: var(--section-header-gap);
	grid-column: var(--section-header-column);
	padding-bottom: var(--section-header-padding-bottom);
}

.section__eyebrow {
	color: var(--section-eyebrow-color);
	font: var(--section-eyebrow-font);
	letter-spacing: var(--section-eyebrow-letterspacing);
	margin: 0;
	padding: 0 var(--section-eyebrow-padding-x);
	text-transform: var(--section-eyebrow-transform);
}

.section__heading {
	font: var(--section-heading-font);
	letter-spacing: var(--section-heading-letterspacing);
	margin: 0;
}

.section__lead {
	font: var(--section-lead-font);
	grid-column: var(--section-lead-column);
}

.section__content {
	font: var(--section-content-font);
	grid-column: var(--section-content-column);
}

.section__container {
	display: grid;
	gap: var(--section-container-gap);
	grid-column: var(--section-container-column);
}

.section__container_width_fill {
	--section-container-column: 1 / -1;
}

.section__tail {
	font: var(--section-tail-font);
	grid-column: var(--section-tail-column);
}

.section__cta {
	align-content: flex-start;
	display: flex;
	flex-wrap: wrap;
	gap: var(--section-cta-gap);
	grid-column: var(--section-cta-column);
}

/* Timeline section variant */

.section_view_timeline {
	--section-header-column: 1 / -3;
	--section-content-column: 1 / span 3;
}

.section_view_portfolio {
	--section-content-column: 1 / -1;
}

.section_view_timeline {
	position: relative;
}

.section__timeline {
	grid-column: -3 / -1;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: var(--section-padding-y) 0;
}

.section__decor {
	display: grid;
	grid-column: var(--section-decor-column);
	align-content: var(--section-decor-align-content);
	height: var(--section-decor-height);
	margin-right: var(--section-decor-margin-x-end);
}
