/* Variables */

.section-subheader {
	--category-offset: 8px;
	--category-line-width: 4px;
}

.section-subheader {

	border-bottom: 1px solid var(--color-border-base);
	display: grid;

	font: var(--font-heading-h4);
	grid-template-columns: 1fr var(--content-width) 1fr;
	letter-spacing: 4%;
	padding: 8px 0;
	text-transform: lowercase;
}

.section-subheader::before {

	color: var(--color-text-tertiary);
	content: attr(data-category) ':';

	justify-self: end;
	margin: 0 var(--category-offset) 0 0;
	position: absolute;
	right: calc(50% + var(--content-width) / 2);

	word-break: keep-all;
}

.section-subheader__heading {

	font: var(--font-heading-h4);
	grid-column: 2 / -2;
	margin: 0;
}
