@media (width < 880px) {
	.section {
		--section-heading-size: var(--heading-size-xs);
	}
}

@media (880px <= width < 1500px) {
	.section {
		--section-heading-size: var(--heading-size-m);
	}
}

@media (width >= 1500px) {
	.section {
		--section-heading-size: var(--heading-size-m);
	}
}

@media (width >= 880px) {
	.section {
		display: grid;
		column-gap: 32px;
	}
}

@media (880px <= width < 1500px) {
	.section {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (width >= 1500px) {
	.section {
		grid-template-columns: repeat(5, 1fr);
	}
}

.section__header {
	position: relative;

	display: flex;
	align-items: flex-end;
	margin: 0 0 24px;
}

.section__header::after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;

	width: 100vw;
	height: 1px;

	background-color: var(--color-border-base);
}

@media (width >= 880px) {
	.section__header {
		grid-column: 1 / -1;
	}
}

.section__heading {
	position: relative;

	margin: 0 auto 0 0;

	font-size: var(--section-heading-size);
	font-weight: 700;
	text-transform: lowercase;
	letter-spacing: 0.04em;
}

.section__heading::before {
	content: attr(data-category) ' / ';
	position: absolute;
	right: 100%;

	color: var(--color-text-bg);
}

.section__comment {
	max-width: 60%;
	margin: 0 0 8px 16px;

	color: var(--color-text-secondary);

	font-size: var(--text-size-s);
	text-align: right;
}

.section__skills {
	margin: 0;
}

@media (width >= 880px) {
	.section__skills {
		grid-column: 1 / -2;
	}
}

.section__courses {
	margin: 0;
}

.section__achievements {
	margin: 40px 0 0;
}

.section__links {
	margin: 0;
}
