@media (width < 880px) {
	.section-header {
		--heading-margin: -64px 0 -60px -120px;
	}
}

@media (880px <= width < 1500px) {
	.section-header {
		--heading-margin: -64px 0 -60px -120px;
	}
}

@media (width >= 1500px) {
	.section-header {
		--heading-margin: -64px 0 -60px -120px;
	}
}

/* Section Header */

.section-header {
	column-gap: var(--grid-gap);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

/* Heading */

.section-header__heading {

	color: var(--color-text-inverse);

	font: var(--font-informal);
	grid-column: 1 / -1;

	margin: var(--heading-margin);
	text-transform: lowercase;
}

/* Text */

.section-header__content {
	color: var(--color-text-base);

	font: var(--font-text-promo);
	grid-column: span 2;
}

.section-header__content p {
	margin: 0;
}

/* Now */

.section-header_now::after {

	background-image: url('../img/chart-lines.svg');
	background-size: 100% 100%;
	content: '';
	height: 418px;
	left: 0;

	margin-top: 48px;
	position: absolute;
	right: 0;
}

.section-header_now .section-header__content:last-child {
	grid-column: 3 / -1;
	grid-row: 3 / 4;
	margin-top: 158px;
}

.section-header_now .section-header__content:first-of-type {
	padding-right: 58px;
}

.section-header_now .section-header__heading::before {

	background-image: url('../img/tower.png');
	content: '';
	height: 629px;
	left: calc(50% - 62px);

	margin-top: -332px;
	position: absolute;
	width: 276px;
}
