/* Variables */

.video {
	--video-gap: var(--space-gap-s);
	--video-columns: 5;
	--video-padding-y: 80px;
	--video-padding-x: var(--space-page-padding-x);
	--video-content-ratio: 16 / 9;
	--video-content-radius: var(--radius-xl);
	--video-border: var(--space-border-light) solid var(--color-border-base);
	--video-footer-padding: var(--space-gap-l);
	--video-footer-border: var(--space-border-light) solid var(--color-border-base);
	--video-footer-bg: rgb(from var(--color-surface-secondary) r g b / 40%);
	--video-body-gap: var(--space-gap-xxs);
	--video-heading-font: var(--font-heading-hl3);
	--video-heading-letterspacing: var(--font-caption-letterspacing);
	--video-description-font: var(--font-text-l);
	--video-description-color: var(--color-text-secondary);
	--video-tags-gap: var(--space-gap-xs);
}

/* Video */

.video {
	display: grid;
	gap: var(--video-gap);
	grid-template-columns: repeat(var(--video-columns), minmax(0, 1fr));
	padding: var(--video-padding-y) var(--video-padding-x);
}

.video__tags,
.video__content,
.video__body {
	grid-column: 1 / -1;
}

.video__tags {
	display: flex;
	flex-wrap: wrap;
	gap: var(--video-tags-gap);
	list-style: none;
	margin: 0;
	padding: 0;
}

.video__tag {
	display: flex;
	margin: 0;
}

.video__content {
	aspect-ratio: var(--video-content-ratio);
	border: var(--video-border);
	border-radius: var(--video-content-radius);
	overflow: hidden;
	position: relative;
}

.video__media {
	display: block;
	height: 100%;
}

.video__img,
.video__iframe {
	display: block;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.video__iframe {
	border: 0;
}

.video__footer {
	align-items: center;
	backdrop-filter: blur(12px);
	background-color: var(--video-footer-bg);
	border-top: var(--video-footer-border);
	bottom: 0;
	display: flex;
	justify-content: space-between;
	left: 0;
	padding: var(--video-footer-padding);
	position: absolute;
	right: 0;
}

.video__button {
	flex-shrink: 0;
}

.video__link {
	flex-shrink: 0;
}

.video__body {
	display: grid;
	gap: var(--video-body-gap);
	padding: 0 var(--space-gap-5xs);
}

.video__heading {
	font: var(--video-heading-font);
	letter-spacing: var(--video-heading-letterspacing);
	margin: 0;
}

.video__description {
	color: var(--video-description-color);
	font: var(--video-description-font);
	margin: 0;
}
