:root {
	--radius-zero: 0;
	--radius-xxs: 2px;
	--radius-xs: 3px;
	--radius-s: 4px;
	--radius-m: 5px;
	--radius-l: 6px;
	--radius-xl: 8px;

	--superellipse-radius-zero: 0;
	--superellipse-radius-xxs: 3.33px;
	--superellipse-radius-xs: 5px;
	--superellipse-radius-s: 6.67px;
	--superellipse-radius-m: 8.33px;
	--superellipse-radius-l: 10px;
	--superellipse-radius-xl: 13.33px;

	--superellipse-level-zero: superellipse(0);
	--superellipse-level-xxs: superellipse(2);
	--superellipse-level-xs: superellipse(2);
	--superellipse-level-s: superellipse(2);
	--superellipse-level-m: superellipse(2);
	--superellipse-level-l: superellipse(2);
	--superellipse-level-xl: superellipse(2);
}
